<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- LEVEL 1 -->
	<key>TITLE_LVL1_COMPLETED</key>
	<string>ROOKIE</string>
	<key>DESCR_LVL1_COMPLETED</key>
	<string>Complete mission 1</string>
	<key>TITLE_LVL1_PERFECT</key>
	<string>PERFECTION 1</string>
	<key>DESCR_LVL1_PERFECT</key>
	<string>Complete mission 1 with a score of 3 stars</string>
    <key>TITLE_LVL1_EVPOINTSLEFT</key>
    <string>LEFTOVERS</string>
    <key>DESCR_LVL1_EVPOINTSLEFT</key>
    <string>Complete mission 1 having at least 10 evolution points at the end</string>


    <key>ACH_LVL1_2</key>
   <string>The first human ancestors appeared 4 million yeas ago in the forests of East Africa.

The oldest species were called Australopithecines. They already walked in two legs, and it seems that this property allowed them very important for their success. They managed to live in a diversity of environments, from forests to savannah.</string>
   <key>ACH_LVL1_3</key>
   <string>First draft of Murphy's Toast logo! It was drawn in a bar...</string>


    <!-- LEVEL 2 -->
    <key>TITLE_LVL2_COMPLETED</key>
    <string>GETTING USED TO</string>
    <key>DESCR_LVL2_COMPLETED</key>
    <string>Complete mission 2</string>
    <key>TITLE_LVL2_PERFECT</key>
    <string>PERFECTION 2</string>
    <key>DESCR_LVL2_PERFECT</key>
    <string>Complete mission 2 with a score of 3 stars</string>
    <key>TITLE_LVL2_DISCOVER</key>
    <string>WRONG WAY</string>
    <key>DESCR_LVL2_DISCOVER</key>
    <string>Move through the river</string>

    <key>ACH_LVL2_2</key>
    <string>Australopithecus, Homo Habilis or Homo Neanderthal were different species of hominins. They were quite diverse, but all of them shared being bipeds, having small teeth and big brains. Homo Sapiens is the only surviving hominin.</string>

   <key>ACH_LVL2_3</key>
   <string>"Science is the belief in the ignorance of experts."
       
       
             Richard Feynman
             (one of the most important physicists of XXth century)</string>
    
    <!-- LEVEL 3 -->
    <key>TITLE_LVL3_COMPLETED</key>
    <string>BOOSTED</string>
    <key>DESCR_LVL3_COMPLETED</key>
    <string>Complete mission 3</string>
    <key>TITLE_LVL3_PERFECT</key>
    <string>PERFECTION 3</string>
    <key>DESCR_LVL3_PERFECT</key>
    <string>Complete mission 3 with a score of 3 stars</string>
    <key>TITLE_LVL3_NOPOWERS</key>
    <string>THE HARD WAY</string>
    <key>DESCR_LVL3_NOPOWERS</key>
    <string>Complete mission 3 without boosts</string>

    <key>ACH_LVL3_2</key>
    <string>The british ship HMS Beagle left Plymouth in 1831 towards South America. A young man called Charled Darwin was onboard, and the data he collected during the voyage was crucial to develop his theory of evolution by natural selection. 
They returned to Europe 5 years later after circumnavigating the Earth.
    <key>ACH_LVL3_3</key>
    <string>Culture makes humans so flexible that they currently live in all environments that can be imagined.
    
The Tubu live in an African region called Ténéré, the country of emptiness. The women are able to find the only water well in thousands of squared kilometers with the only orientation of dune movement and the stars.</string>


    <!-- LEVEL 4 -->
    <key>TITLE_LVL4_COMPLETED</key>
    <string>INTRODUCING TECH</string>
    <key>DESCR_LVL4_COMPLETED</key>
    <string>Complete mission 4</string>
    <key>TITLE_LVL4_PERFECT</key>
    <string>PERFECTION 4</string>
    <key>DESCR_LVL4_PERFECT</key>
    <string>Complete mission 4 with a score of 3 stars</string>
    
    <key>ACH_LVL4_2</key>
    <string>Our ancestors started using tools 2 million ago. Technology was not an isolated innovation, as it seems that hominins also started using language during the same period.</string>

    <key>ACH_LVL4_3</key>
    <string>Culture is not only a human thing. Apes, dolphins and orcas also have complex cultural traits such as tools and language. However, the pace at which we learn and create new ideas makes us quite different than the rest of the animals.</string>    
    
    <!-- LEVEL 5 -->
    <key>TITLE_LVL5_COMPLETED</key>
    <string>GETTING AWAY</string>
    <key>DESCR_LVL5_COMPLETED</key>
    <string>Complete mission 5</string>
    <key>TITLE_LVL5_PERFECT</key>
    <string>PERFECTION 5</string>
    <key>DESCR_LVL5_PERFECT</key>
    <string>Complete mission 5 with a score of 3 stars</string>
    



    <!-- LEVEL 6 -->
    <key>TITLE_LVL6_COMPLETED</key>
    <string>INFLUENCER</string>
    <key>DESCR_LVL6_COMPLETED</key>
    <string>Complete mission 6</string>
    <key>TITLE_LVL6_PERFECT</key>
    <string>PERFECTION 6</string>
    <key>DESCR_LVL6_PERFECT</key>
    <string>Complete mission 6 with a score of 3 stars</string>
 

    <key>ACH_LVL6_2</key>
    <string>Breakthroughs in biology has proved that part of our genetic information comes form Neanderthals.
    
Considering that they are not our ancestors, this hybridation means that both species coexisted and interbred in Europe.</string>

    <!-- LEVEL 7 -->
    <key>TITLE_LVL7_COMPLETED</key>
    <string>CALL TO ARMS</string>
    <key>DESCR_LVL7_COMPLETED</key>
    <string>Complete mission 7</string>
    <key>TITLE_LVL7_PERFECT</key>
    <string>PERFECTION 7</string>
    <key>DESCR_LVL7_PERFECT</key>
    <string>Complete mission 7 with a score of 3 stars</string>
    
    <!-- LEVEL 8 -->
    <key>TITLE_LVL8_COMPLETED</key>
    <string>THE CROSSING</string>
    <key>DESCR_LVL8_COMPLETED</key>
    <string>Complete mission 8</string>
    <key>TITLE_LVL8_PERFECT</key>
    <string>PERFECTION 8</string>
    <key>DESCR_LVL8_PERFECT</key>
    <string>Complete mission 8 with a score of 3 stars</string>
   
    <key>ACH_LVL8_2</key>
    <string>Did you know that what is considered the first feature-length documentary in film history is about hunter-gatherer people? Nanook of the North (also known as Nanook of the North: A Story of Life and Love in the Actual Arctic) is a 1922 silent documentary film by Robert J. Flaherty, which describes the life and the fight for survival of Nanook and his family, members of the Inuit people of the Canadian Arctic.</string>

    <!-- LEVEL 9 -->
    <key>TITLE_LVL9_COMPLETED</key>
    <string>JOINING FORCES</string>
    <key>DESCR_LVL9_COMPLETED</key>
    <string>Complete mission 9</string>
    <key>TITLE_LVL9_PERFECT</key>
    <string>PERFECTION 9</string>
    <key>DESCR_LVL9_PERFECT</key>
    <string>Complete mission 9 with a score of 3 stars</string>
   
    <key>ACH_LVL9_2</key>
    <string>We don't know why Neanderthals became extinct: conflict with Sapiens? Climate change? Competition for resources? All of them?

Understanding the extinction of Neanderthals is extremely interesting because it can help us understand the dangers we currently face.<string>

    <key>ACH_LEVEL9_3</key>
    <string>The more we know about Neanderthals the more we see how similar we are. This fascination has generated interesting fiction works, such as the novels "The Clan of the Cave Bear" by J.M. Auel and the science-fiction trilogy "The Neanderthal Parallax", by Robert J. Sawyer.</string>

    <!-- LEVEL 10 -->
    <key>TITLE_LVL10_COMPLETED</key>
    <string>FIND A WAY</string>
    <key>DESCR_LVL10_COMPLETED</key>
    <string>Complete mission 10</string>
    <key>TITLE_LVL10_PERFECT</key>
    <string>PERFECTION 10</string>
    <key>DESCR_LVL10_PERFECT</key>
    <string>Complete mission 10 with a score of 3 stars</string>
    
    <!-- LEVEL 11 -->
    <key>TITLE_LVL11_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL11_COMPLETED</key>
    <string>Complete mission 11</string>
    <key>TITLE_LVL11_PERFECT</key>
    <string>PERFECTION 11</string>
    <key>DESCR_LVL11_PERFECT</key>
    <string>Complete mission 11 with a score of 3 stars</string>
    
    <!-- LEVEL 12 -->
    <key>TITLE_LVL12_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL12_COMPLETED</key>
    <string>Complete mission 12</string>
    <key>TITLE_LVL12_PERFECT</key>
    <string>PERFECTION 12</string>
    <key>DESCR_LVL12_PERFECT</key>
    <string>Complete mission 12 with a score of 3 stars</string>
    
    <!-- LEVEL 13 -->
    <key>TITLE_LVL13_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL13_COMPLETED</key>
    <string>Complete mission 13</string>
    <key>TITLE_LVL13_PERFECT</key>
    <string>PERFECTION 13</string>
    <key>DESCR_LVL13_PERFECT</key>
    <string>Complete mission 13 with a score of 3 stars</string>
    
    <!-- LEVEL 14 -->
    <key>TITLE_LVL14_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL14_COMPLETED</key>
    <string>Complete mission 14</string>
    <key>TITLE_LVL14_PERFECT</key>
    <string>PERFECTION 14</string>
    <key>DESCR_LVL14_PERFECT</key>
    <string>Complete mission 14 with a score of 3 stars</string>
    
    <!-- LEVEL 15 -->
    <key>TITLE_LVL15_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL15_COMPLETED</key>
    <string>Complete mission 15</string>
    <key>TITLE_LVL15_PERFECT</key>
    <string>PERFECTION 15</string>
    <key>DESCR_LVL15_PERFECT</key>
    <string>Complete mission 15 with a score of 3 stars</string>
    
    <!-- LEVEL 16 -->
    <key>TITLE_LVL16_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL16_COMPLETED</key>
    <string>Complete mission 16</string>
    <key>TITLE_LVL16_PERFECT</key>
    <string>PERFECTION 16</string>
    <key>DESCR_LVL16_PERFECT</key>
    <string>Complete mission 16 with a score of 3 stars</string>
    
    <!-- LEVEL 17 -->
    <key>TITLE_LVL17_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL17_COMPLETED</key>
    <string>Complete mission 17</string>
    <key>TITLE_LVL17_PERFECT</key>
    <string>PERFECTION 17</string>
    <key>DESCR_LVL17_PERFECT</key>
    <string>Complete mission 17 with a score of 3 stars</string>
    
    <!-- LEVEL 18 -->
    <key>TITLE_LVL18_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL18_COMPLETED</key>
    <string>Complete mission 18</string>
    <key>TITLE_LVL18_PERFECT</key>
    <string>PERFECTION 18</string>
    <key>DESCR_LVL18_PERFECT</key>
    <string>Complete mission 18 with a score of 3 stars</string>
    
    <!-- LEVEL 19 -->
    <key>TITLE_LVL19_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL19_COMPLETED</key>
    <string>Complete mission 19</string>
    <key>TITLE_LVL19_PERFECT</key>
    <string>PERFECTION 19</string>
    <key>DESCR_LVL19_PERFECT</key>
    <string>Complete mission 19 with a score of 3 stars</string>
    
    <!-- LEVEL 20 -->
    <key>TITLE_LVL20_COMPLETED</key>
    <string></string>
    <key>DESCR_LVL20_COMPLETED</key>
    <string>Complete mission 20</string>
    <key>TITLE_LVL20_PERFECT</key>
    <string>PERFECTION 20</string>
    <key>DESCR_LVL20_PERFECT</key>
    <string>Complete mission 20 with a score of 3 stars</string>
    
</dict>
</plist>
