<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>  
        <key>INTRO_1</key>
        <string>Professor, benvingut a Kepler-1138</string>
        <key>INTRO_2</key>
        <string>Fa 10 anys hi vam trobar una espècie humanoide ja extingida.

Els vam anomenar Lovans

La teva tasca és descobrir per què van desaparèixer</string>
        <key>INTRO_3</key>
        <string>Hem integrat l'ADN Lovan als nostres bots

Els primers especímens ja s'estan desplegant</string>
        <key>INTRO_4</key>
        <string>Estem a punt per iniciar la primera missió</string>

        <key>START</key>
        <string>INICIAR</string>
        <key>EXIT</key>
        <string>Sortir</string>
        <key>NEW_GAME</key>
        <string>NOU</string>
        <key>BACK</key>
        <string>TORNAR</string>
        <key>RESET</key>
        <string>RESETEJAR</string>
        <key>PAUSE</key>
        <string>PAUSA</string>
        <key>SET_ATTRIBUTES</key>
        <string>CONFIGURA ELS BOTS ABANS DE COMENÇAR</string>
        <key>WARNING</key>
        <string>ALERTA</string>
        <key>WARNING_TEXT</key>
        <string>INICIAR UNA NOVA PARTIDA ESBORRARÀ TOTS ELS TEUS AVENÇOS</string>
        <key>LEVEL</key>
        <string>MISSIÓ</string>
        <key>OPTIONS</key>
        <string>OPCIONS</string>
        <key>ACHIEVEMENTS</key>
        <string>FITES</string>
        <key>LANGUAGE</key>
        <string>IDIOMA</string>
        <key>CREDITS</key>
        <string>CRÈDITS</string>
        <key>EXTRAS</key>
        <string>EXTRES</string>
        <key>STORY</key>
        <string>HISTÒRIA</string>
        <key>GOALS</key>
        <string>OBJECTIUS</string>
        <key>FIRSTERA</key>
        <string>Expansió</string>
        <key>SECONDERA</key>
        <string>Conquesta</string>
        <key>QUIT_QUESTION</key>
        <string>SORTIR ?</string>
        <key>RETRY_QUESTION</key>
        <string>REPETIR ?</string>
        <key>RETRY</key>
        <string>Repetir</string>
        <key>AGENTS</key>
        <string>Bots</string>
        <key>TAP_TO_UNLOCK</key>
        <string>TOCA PER DESBLOQUEJAR</string>
        <key>TAP_TO_CONTINUE</key>
        <string>TOCA PER CONTINUAR</string>
        <key>PASS_MISSION</key>
        <string>COMPLETA LA MISSIÓ</string>
        <key>TO_UNLOCK_STORY</key>
        <string>PER DESBLOQUEJAR AQUESTA HISTÒRIA</string>
        <key>LIFE</key>
        <string>VIDA</string>
        <key>LEVEL_FEATURES</key>
        <string>HABILITATS</string>
        <key>ATTRIBUTES</key>
        <string>ATRIBUTS</string>
        <key>POWERS</key>
        <string>AUGMENTS</string>
        <key>NOT_AVAILABLE</key>
        <string>NO DISPONIBLES EN AQUESTA MISSIÓ</string>
        <key>REPRODUCTION</key>
        <string>REPRODUCCIÓ</string>
        <key>DESCRIPTION_REPRODUCTION</key>
        <string>Taxa de fertilitat</string>
        <key>MOBILITY</key>
        <string>MOBILITAT</string>
        <key>DESCRIPTION_MOBILITY</key>
        <string>Abast d'interacció</string>
        <key>RESISTANCE</key>
        <string>RESISTÈNCIA</string>
        <key>DESCRIPTION_RESISTANCE</key>
        <string>Resistència en entorns hostils</string>
        <key>TECHNOLOGY</key>
        <string>TECNOLOGIA</string>
        <key>DESCRIPTION_TECHNOLOGY</key>
        <string>Millores en tots els atributs</string>
        <key>INFLUENCE</key>
        <string>INFLUÈNCIA</string>
        <key>DESCRIPTION_INFLUENCE</key>
        <string>Convenç altres bots per unir-se al teu grup</string>
        <key>WARFARE</key>
        <string>GUERRA</string>
        <key>DESCRIPTION_WARFARE</key>
        <string>Letalitat en combat</string>
        <key>EXPLOITATION</key>
        <string>EXPLOTACIÓ</string>
        <key>DESCRIPTION_EXPLOITATION</key>
        <string>Taxa de recol·lecció de fusta i minerals</string>
        <key>TRADE</key>
        <string>COMERÇ</string>
        <key>DESCRIPTION_TRADE</key>
        <string>Habilitats d'intercanvi amb altres grups</string>
        <key>TERRAFORM</key>
        <string>TERRAFORMACIÓ</string>
        <key>DESCRIPTION_TERRAFORM</key>
        <string>Modifica l'entorn al teu benefici</string>
        <key>DESCRIPTION_MobilityBoost</key>
        <string>Mobilitat (efecte d'àrea)</string>
        <key>DESCRIPTION_ReproductionBoost</key>
        <string>Reproducció</string>
        <key>DESCRIPTION_ResistanceBoost</key>
        <string>Resistència (efecte d'àrea</string>
        <key>DESCRIPTION_InfluenceBoost</key>
        <string>Influència</string>
        <key>DESCRIPTION_WarfareBoost</key>
        <string>Guerra</string>
        <key>POPULATION</key>
        <string>Població</string>
        <key>EVOLUTION_POINTS</key>
        <string>PUNTS D&apos;EVOLUCIÓ</string>
        <key>COST</key>
        <string>Cost</string>
        <key>MUSIC</key>
        <string>MÚSICA I SO</string>
        <key>SPECIAL_EFFECTS</key>
        <string>SFX</string>
        <key>LEVEL_COMPLETED</key>
        <string>COMPLET</string>
        <key>GAME_OVER</key>
        <string>FALLIT</string>
        <key>CONGRATULATIONS</key>
        <string>Enhorabona!</string>
        <key>GOAL_FAIL_BEFORE</key>
        <string>Missió fallida: La teva població ha assolit l&apos;objectiu abans
            del que suggereixen les dades arqueològiques</string>
        <key>GOAL_FAIL_AFTER</key>
        <string>Missió fallida: No has aconseguit l&apos;objectiu a temps</string>
        <key>ALL_BOTS_DIED</key>
        <string>Han mort tots els bots</string>
        <key>CONTINUE</key>
        <string>CONTINUAR</string>
        <key>PLAY</key>
        <string>JUGAR</string>
        <key>MURPHY</key>
        <string>Murphy&apos;s Toast Games</string>
        <key>DIRECTOR</key>
        <string>Director de Joc &amp; líder del Projecte</string>
        <key>LEAD_PROGRAMMER</key>
        <string>Programador en cap</string>
        <key>ADDITIONAL_PROGRAMMING</key>
        <string>Programació addicional</string>
        <key>ART</key>
        <string>Art</string>
        <key>UI</key>
        <string>Interfície d'Usuari</string>
        <key>STORY_CONTENT</key>
        <string>Història i continguts</string>
        <key>SIMULPAST_TITLE</key>
        <string>El Projecte SimulPast</string>
        <key>SIMULPAST_TEXT</key>
        <string>Evolving Planet no hauria existit sense el projecte de recerca SimulPast.
            
SimulPast està trencant les barreres entre la Ciència i les Humanitats per tal d'entendre els nostres orígens, el nostre present i futur. Arqueòlegs, Informàtics, Antropòlegs i altres experts fan ús de la simulació per ordinador per millorar la comprensió que tenim del passat.
            
Evolving Planet explora aquesta nova manera de fer Ciència. Seràs part d'un equip de recerca que estudia espècies similars als humans mitjançant conceptes com evolució, tecnologia i dispersió.
            
Toca el logo per conèixer més sobre SimulPast!</string>
        <key>SPECIAL_THANKS</key>
        <string>Agraïments</string>
        <key>SUPPORT</key>
        <string>Amb el suport de</string>
        <key>POWERED</key>
        <string>Creat amb</string>
        <key>CONTENT_WIKIMEDIA</key>
        <string>Contingut addicional per</string>
        <key>OF</key>
        <string>de</string>
        <key>ACH_EARNED</key>
        <string>fites assolides</string>
        <key>CURRENT_GOAL</key>
        <string>OBJECTIU ACTUAL</string>
        <key>SKIP</key>
        <string>SALTAR</string>
        <key>GOALS_COMPLETED</key>
        <string>OBJECTIUS ASSOLITS</string>
        <key>BOT_COLOR</key>
        <string>Color dels Bots</string>
        <key>THE_END</key>
        <string>FI</string>

        <key>ARID</key>
        <string>ÀRID</string>
        <key>IMPASSABLE</key>
        <string>IMPASSABLE</string>
        <key>MINERAL</key>
        <string>MINERAL</string>
        <key>WOOD</key>
        <string>FUSTA</string>
        <key>OBSIDIAN</key>
        <string>OBSIDIANA</string>
        <key>ARABLE</key>
        <string>CULTIVABLE</string>
        <key>FOREST</key>
        <string>SELVA</string>
        <key>SAVANNAH</key>
        <string>SABANA</string>
        <key>DESERT</key>
        <string>DESERT</string>

        <key>THANKS_PEOPLE</key>
        <string>...i les nostres famílies, amics i mascotes!</string>
        <key>THANKS_PLAYER</key>
        <string>Evolving Planet és una fusió de la nostra passió pels jocs i la ciència.
Esperem que hagis disfrutat tant jugant-lo com nosaltres fent-lo.

Gràcies!</string>

    </dict>
</plist>

