<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>COMENÇAR</string>
	<key>NEW_GAME</key>
	<string>NOVA PARTIDA</string>
	<key>BACK</key>
	<string>TORNAR</string>
	<key>RESET</key>
	<string>RESETEJAR</string>
	<key>PAUSE</key>
	<string>PAUSA</string>
	<key>SET_ATTRIBUTES</key>
	<string>CONFIGURA ELS AGENTS ABANS DE COMENÇAR</string>
	<key>WARNING</key>
	<string>ALERTA</string>
	<key>WARNING_TEXT</key>
	<string>COMENÇAR UNA NOVA PARTIDA ESBORRARÀ TOTS ELS TEUS AVENÇOS</string>
	<key>LEVEL</key>
	<string>MISSIÓ</string>
	<key>OPTIONS</key>
	<string>OPCIONS</string>
	<key>ACHIEVEMENTS</key>
	<string>FITES</string>
	<key>LANGUAGE</key>
	<string>IDIOMA</string>
	<key>CREDITS</key>
	<string>CRÈDITS</string>
	<key>EXTRAS</key>
	<string>EXTRES</string>
	<key>STORY</key>
	<string>HISTÒRIA</string>
	<key>GOALS</key>
	<string>OBJECTIUS</string>
	<key>ERA</key>
	<string>ERA</string>
	<key>FIRST</key>
	<string>PRIMERA</string>
	<key>SECOND</key>
	<string>SEGONA</string>
	<key>QUIT_QUESTION</key>
	<string>SORTIR ?</string>
	<key>RETRY_QUESTION</key>
	<string>REPETIR ?</string>
	<key>AGENTS</key>
	<string>Agents</string>
	<key>TAP_TO_UNLOCK</key>
	<string>TOCA PER DESBLOQUEJAR</string>
	<key>TAP_TO_CONTINUE</key>
	<string>TOCA PER CONTINUAR</string>
	<key>PASS_MISSION</key>
	<string>COMPLETA LA MISSIÓ </string>
	<key>TO_UNLOCK_STORY</key>
	<string> PER DESBLOQUEJAR AQUESTA HISTÒRIA</string>
	<key>LIFE</key>
	<string>VIDA</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCCIÓ</string>
	<key>MOBILITY</key>
	<string>MOBILITAT</string>
	<key>RESISTANCE</key>
	<string>RESISTÈNCIA</string>
	<key>TECHNOLOGY</key>
	<string>TECNOLOGIA</string>
	<key>RECOLLECTION</key>
	<string>RECOLECCIÓ</string>
	<key>SUSTAINABILITY</key>
	<string>SOSTENIBILITAT</string>
	<key>ADAPTATION</key>
	<string>ADAPTACIÓ</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>INFL CULTURAL</string>
	<key>HOSTILITY</key>
	<string>HOSTILITAT</string>
	<key>EVOLUTION_POINTS</key>
	<string>PUNTS D&apos;EVOLUCIÓ</string>
	<key>LEVEL_FEATURES</key>
	<string>CARACTERÍSTIQUES DE LA MISSIÓ</string>
	<key>ATTRIBUTES</key>
	<string>ATRIBUTS</string>
	<key>POWERS</key>
	<string>PODERS</string>
	<key>NOT_AVAILABLE</key>
	<string>NO DISPONIBLES EN AQUESTA MISSIÓ</string>
	<key>GOAL_TEXT_LVL1_1</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 1 entre 30 i 50 passos de temps</string>
	<key>GOAL_TEXT_LVL1_2</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 2 entre 70 i 90 passos de temps</string>
	<key>GOAL_TEXT_LVL1_3</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 3 entre 90 i 110 passos de temps</string>
	<key>MUSIC</key>
	<string>MÚSICA</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLET</string>
	<key>GAME_OVER</key>
	<string>FALLIT</string>
	<key>CONGRATULATIONS</key>
	<string>Enhorabona!</string>
	<key>GOAL_FAIL_BEFORE</key>
	<string>Missió fallida: La teva població ha assolit l&apos;objectiu abans 
del que suggereixen les dades arqueològiques</string>
	<key>GOAL_FAIL_AFTER</key>
	<string>Missió fallida: No has aconseguit l&apos;objectiu a temps</string>
	<key>ALL_AGENTS_DIED</key>
	<string>Han mort tots els agents</string>
	<key>CONTINUE</key>
	<string>CONTINUAR</string>
	<key>PLAY</key>
	<string>JUGAR</string>
	<key>CONTEXT_TITLE_INTRO</key>
	<string>INTRODUCCIÓ</string>
	<key>CONTEXT_TITLE_DEPLOYMENT</key>
	<string>DESENVOLUPAMENT</string>
	<key>CURRENT_GOAL</key>
	<string>OBJECTIU</string>
</dict>
</plist>
