<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>COMENÇAR</string>
	<key>NEW_CAMPAIGN</key>
	<string>NOVA CAMPANYA</string>
	<key>BACK</key>
	<string>TORNAR</string>
	<key>RESET</key>
	<string>RESETEJAR</string>
	<key>PAUSE</key>
	<string>PAUSA</string>
	<key>WARNING</key>
	<string>ALERTA</string>
	<key>WARNING_TEXT</key>
	<string>COMENÇAR UNA NOVA CAMPANYA ESBORRARÀ TOTS ELS TEUS AVENÇOS</string>
	<key>LEVEL</key>
	<string>NIVELL</string>
	<key>CONFIGURATION</key>
	<string>CONFIGURACIÓ</string>
	<key>ACHIEVEMENTS</key>
	<string>FITES</string>
	<key>LANGUAGE</key>
	<string>IDIOMA</string>
	<key>CREDITS</key>
	<string>CRÈDITS</string>
	<key>GOALS</key>
	<string>OBJECTIUS</string>
	<key>FIRST_ERA</key>
	<string>PRIMERA ERA</string>
	<key>QUIT_QUESTION</key>
	<string>SORTIR ?</string>
	<key>RETRY_QUESTION</key>
	<string>REPETIR ?</string>
	<key>AGENTS</key>
	<string>Agents</string>
	<key>LIFE</key>
	<string>VIDA</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCCIÓ</string>
	<key>MOBILITY</key>
	<string>MOBILITAT</string>
	<key>RESISTANCE</key>
	<string>RESISTÈNCIA</string>
	<key>TECHNOLOGY</key>
	<string>TECNOLOGIA</string>
	<key>RECOLLECTION</key>
	<string>RECOLECCIÓ</string>
	<key>SUSTAINABILITY</key>
	<string>SOSTENIBILITAT</string>
	<key>ADAPTATION</key>
	<string>ADAPTACIÓ</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>INFL CULTURAL</string>
	<key>HOSTILITY</key>
	<string>HOSTILITAT</string>
	<key>EVOLUTION_POINTS</key>
	<string>PUNTS D&apos;EVOLUCIÓ</string>
	<key>LEVEL_FEATURES</key>
	<string>CARACTERÍSTIQUES DEL NIVELL</string>
	<key>ATTRIBUTES</key>
	<string>ATRIBUTS</string>
	<key>POWERS</key>
	<string>PODERS</string>
	<key>NOT_AVAILABLE</key>
	<string>NO DISPONIBLES EN AQUEST NIVELL</string>
	<key>GOAL_TEXT_LVL1_1</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 1 entre 30 i 50 passos de temps</string>
	<key>GOAL_TEXT_LVL1_2</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 2 entre 70 i 90 passos de temps</string>
	<key>GOAL_TEXT_LVL1_3</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 3 entre 90 i 110 passos de temps</string>
	<key>MUSIC</key>
	<string>MÚSICA</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLET</string>
	<key>GAME_OVER</key>
	<string>FALLIT</string>
	<key>CONGRATULATIONS</key>
	<string>Enhorabona!</string>
	<key>GOAL_NO_COMPLETED</key>
	<string>No has aconseguit l&apos;objectiu</string>
	<key>ALL_AGENTS_DIED</key>
	<string>Han mort tots els agents</string>
	<key>CONTINUE</key>
	<string>CONTINUAR</string>
	<key>PLAY</key>
	<string>JUGAR</string>
	<key>CONTEXT_TITLE_INTRO</key>
	<string>INTRODUCCIÓ</string>
	<key>CONTEXT_TITLE_DEPLOYMENT</key>
	<string>DESENVOLUPAMENT</string>
	<key>BRIEF_LEVEL_1</key>
	<string>Salutacions, comandant. Ja hem acabat els tests inicials del sistema i tot està a punt. Podrem desplegar els bots a la superfície del planeta en unes poques hores.

Hem detectat les primeres traces d&apos;aquesta espècie alienígena en una petita península, desde la qual sembla que es van expandir a la resta del continent, Sigyn. L&apos;equip espera les teves ordres per a començar la missió!Hem detectat les primeres traces d&apos;aquesta espècie alienígena en una petita península, desde la qual sembla que es van expandir a la resta del continent, Sigyn. L&apos;equip espera les teves ordres per a començar la missió!</string>
	<key>CONTEXT_LEVEL_1_INTRO</key>
	<string>Aquests inicis em recorden als nostres propis orígens... 

Les primeres evidències d&apos;éssers humans s&apos;han documentat a l&apos;est del continent africà farà uns 4 milions d&apos;anys. Els arqueòlegs van trobar allà una espècia anomenada Homo Erecturs. La informació recollida per les nostres sondes enviades a Hnoss suggereix que Sigyn tenia unes condicions ambientals similars a aquests primers assentaments...

Em pregunto com subsistien en aquest entorn; el més probable és que fossin una barreja de caçadors, recolectors y carronyaires, més o meyns com els nostres ancestres.</string>
	<key>CONTEXT_LEVEL_1_DEPLOYMENT</key>
	<string>En qualsevol cas, anem a començar pel principi; els bots seran desplegats en aquesta primera zona amb evidències de XXX. Volem examinar com es van dispersar des d&apos;aquesta península a la resta del continent.</string>
</dict>
</plist>
