<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>COMENÇAR</string>
	<key>BACK</key>
	<string>TORNAR</string>
	<key>LEVEL</key>
	<string>NIVELL</string>
	<key>CONFIGURATION</key>
	<string>CONFIGURACIÓ</string>
	<key>LANGUAGE</key>
	<string>Idioma</string>
	<key>CREDITS</key>
	<string>CRÈDITS</string>
	<key>GOALS</key>
	<string>OBJECTIUS</string>
	<key>AGENTS</key>
	<string>Agents</string>
	<key>REPRODUCTION</key>
	<string>Reproducció</string>
	<key>MOBILITY</key>
	<string>Mobilitat</string>
	<key>RESISTANCE</key>
	<string>Resistència</string>
	<key>RECOLLECTION</key>
	<string>Recolecció</string>
	<key>SUSTAINABILITY</key>
	<string>Sostenibilitat</string>
	<key>ADAPTATION</key>
	<string>Adaptació</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>Infl Cultural</string>
	<key>HOSTILITY</key>
	<string>Hostilitat</string>
	<key>EVOLUTION_POINTS</key>
	<string>PUNTS D&apos;EVOLUCIÓ</string>
	<key>GOAL_TEXT_LVL1_1</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 1 entre 30 i 50 passos de temps</string>
	<key>GOAL_TEXT_LVL1_2</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 2 entre 70 i 90 passos de temps</string>
	<key>GOAL_TEXT_LVL1_3</key>
	<string>- S&apos;ha d&apos;arribar al punt de control 3 entre 90 i 110 passos de temps</string>
	<key>MUSIC</key>
	<string>Música</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>Nivell complet</string>
	<key>GAME_OVER</key>
	<string>Nivell fallit</string>
	<key>CONGRATULATIONS</key>
	<string>Enhorabona!</string>
	<key>GOAL_NO_COMPLETED</key>
	<string>No has aconseguit l&apos;objectiu</string>
	<key>ALL_AGENTS_DIED</key>
	<string>Han mort tots els agents</string>
	<key>CONTINUE</key>
	<string>Continuar</string>
	<key>PLAY</key>
	<string>JUGAR</string>
	<key>BRIEF_LEVEL_1</key>
	<string>Salutacions, comandant. Ja hem acabat els tests inicials del sistema i tot està a punt. Podrem desplegar els bots a la superfície del planeta en unes poques hores.

Hem detectat les primeres traces d&apos;aquesta espècie alienígena en una petita península, desde la qual sembla que es van expandir a la resta del continent, Sigyn. L&apos;equip espera les teves ordres per a començar la missió!Hem detectat les primeres traces d&apos;aquesta espècie alienígena en una petita península, desde la qual sembla que es van expandir a la resta del continent, Sigyn. L&apos;equip espera les teves ordres per a començar la missió!</string>
	<key>CONTEXT_LEVEL_1</key>
	<string>Aquests inicis em recorden als nostres propis orígens...les primeres evidències d&apos;éssers humans s&apos;han documentat a l&apos;est del continent africà farà uns 4 milions d&apos;anys. Els arqueòlegs van trobar allà una espècia anomenada Homo Erecturs. La informació recollida per les nostres sondes enviades a Hnoss suggereix que Sigyn tenia unes condicions ambientals similars a aquests primers assentaments...em pregunt com subsistien en aquest entorn; el més probable és que fossin una barreja de caçadors, recolectors y carronyaires, més o meyns com els nostres ancestres.

En qualsevol cas, anem a començar pel principi; els bots seran desplegats en aquesta primera zona amb evidències de XXX. Volem examinar com es van dispersar des d&apos;aquesta península a la resta del continent.</string>
</dict>
</plist>
