<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>START</string>
	<key>NEW_CAMPAIGN</key>
	<string>NEW CAMPAIGN</string>
	<key>BACK</key>
	<string>BACK</string>
	<key>RESET</key>
	<string>RESET</string>
	<key>PAUSE</key>
	<string>PAUSE</string>
	<key>SET_ATTRIBUTES</key>
	<string>CONFIGURE THE AGENTS BEFORE YOU START</string>
	<key>WARNING</key>
	<string>WARNING</string>
	<key>WARNING_TEXT</key>
	<string>STARTING A NEW CAMPAIGN WILL ERASE ALL YOUR PROGRESS</string>
	<key>LEVEL</key>
	<string>MISSION</string>
	<key>CONFIGURATION</key>
	<string>CONFIGURATION</string>
	<key>ACHIEVEMENTS</key>
	<string>ACHIEVEMENTS</string>
	<key>LANGUAGE</key>
	<string>LANGUAGE</string>
	<key>CREDITS</key>
	<string>CREDITS</string>
	<key>GOALS</key>
	<string>GOALS</string>
	<key>ERA</key>
	<string>ERA</string>
	<key>FIRST</key>
	<string>FIRST</string>
	<key>SECOND</key>
	<string>SECOND</string>
	<key>QUIT_QUESTION</key>
	<string>QUIT ?</string>
	<key>RETRY_QUESTION</key>
	<string>RETRY ?</string>
	<key>AGENTS</key>
	<string>Agents</string>
	<key>LIFE</key>
	<string>LIFE</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCTION</string>
	<key>MOBILITY</key>
	<string>MOBILITY</string>
	<key>RESISTANCE</key>
	<string>RESISTANCE</string>
	<key>TECHNOLOGY</key>
	<string>TECHNOLOGY</string>
	<key>RECOLLECTION</key>
	<string>RECOLLECTION</string>
	<key>SUSTAINABILITY</key>
	<string>SUSTAINABILITY</string>
	<key>ADAPTATION</key>
	<string>ADAPTATION</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>CULTURAL INFL</string>
	<key>HOSTILITY</key>
	<string>HOSTILITY</string>
	<key>EVOLUTION_POINTS</key>
	<string>EVOLUTION POINTS</string>
	<key>LEVEL_FEATURES</key>
	<string>MISSION FEATURES</string>
	<key>ATTRIBUTES</key>
	<string>ATTRIBUTES</string>
	<key>POWERS</key>
	<string>POWERS</string>
	<key>NOT_AVAILABLE</key>
	<string>NOT AVAILABLE IN THIS MISSION</string>
	<key>MUSIC</key>
	<string>MUSIC</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLETED</string>
	<key>GAME_OVER</key>
	<string>FAILED</string>
	<key>CONGRATULATIONS</key>
	<string>Congratulations!</string>
	<key>GOAL_FAIL_BEFORE</key>
	<string>Mission failed: Your population reached its goals before 
archaeological data suggests</string>
	<key>GOAL_FAIL_AFTER</key>
	<string>Mission failed: You have not reached the goal on time</string>
	<key>ALL_AGENTS_DIED</key>
	<string>All agents died</string>
	<key>CONTINUE</key>
	<string>CONTINUE</string>
	<key>PLAY</key>
	<string>PLAY</string>
	<key>CONTEXT_TITLE_INTRO</key>
	<string>INTRODUCTION</string>
	<key>CONTEXT_TITLE_DEPLOYMENT</key>
	<string>DEPLOYMENT</string>
</dict>
</plist>
