<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>START</string>
	<key>NEW_CAMPAIGN</key>
	<string>NEW CAMPAIGN</string>
	<key>BACK</key>
	<string>BACK</string>
	<key>RESET</key>
	<string>RESET</string>
	<key>PAUSE</key>
	<string>PAUSE</string>
	<key>WARNING</key>
	<string>WARNING</string>
	<key>WARNING_TEXT</key>
	<string>STARTING A NEW CAMPAIGN WILL ERASE ALL YOUR PROGRESS</string>
	<key>LEVEL</key>
	<string>LEVEL</string>
	<key>CONFIGURATION</key>
	<string>CONFIGURATION</string>
	<key>ACHIEVEMENTS</key>
	<string>ACHIEVEMENTS</string>
	<key>LANGUAGE</key>
	<string>LANGUAGE</string>
	<key>CREDITS</key>
	<string>CREDITS</string>
	<key>GOALS</key>
	<string>GOALS</string>
	<key>FIRST_ERA</key>
	<string>FIRST ERA</string>
	<key>QUIT_QUESTION</key>
	<string>QUIT ?</string>
	<key>RETRY_QUESTION</key>
	<string>RETRY ?</string>
	<key>AGENTS</key>
	<string>Agents</string>
	<key>LIFE</key>
	<string>LIFE</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCTION</string>
	<key>MOBILITY</key>
	<string>MOBILITY</string>
	<key>RESISTANCE</key>
	<string>RESISTANCE</string>
	<key>TECHNOLOGY</key>
	<string>TECHNOLOGY</string>
	<key>RECOLLECTION</key>
	<string>RECOLLECTION</string>
	<key>SUSTAINABILITY</key>
	<string>SUSTAINABILITY</string>
	<key>ADAPTATION</key>
	<string>ADAPTATION</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>CULTURAL INFL</string>
	<key>HOSTILITY</key>
	<string>HOSTILITY</string>
	<key>EVOLUTION_POINTS</key>
	<string>EVOLUTION POINTS</string>
	<key>LEVEL_FEATURES</key>
	<string>LEVEL FEATURES</string>
	<key>ATTRIBUTES</key>
	<string>ATTRIBUTES</string>
	<key>POWERS</key>
	<string>POWERS</string>
	<key>NOT_AVAILABLE</key>
	<string>NOT AVAILABLE IN THIS LEVEL</string>
	<key>GOAL_TEXT_LVL1_1</key>
	<string>- Reach checkpoint 1 between 30 and 50 timesteps</string>
	<key>GOAL_TEXT_LVL1_2</key>
	<string>- Reach checkpoint 2 between 70 and 90 timesteps</string>
	<key>GOAL_TEXT_LVL1_3</key>
	<string>- Reach checkpoint 3 between 90 and 110 timesteps</string>
	<key>MUSIC</key>
	<string>MUSIC</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLETED</string>
	<key>GAME_OVER</key>
	<string>FAILED</string>
	<key>CONGRATULATIONS</key>
	<string>Congratulations!</string>
	<key>GOAL_NO_COMPLETED</key>
	<string>You have not reached the goal</string>
	<key>ALL_AGENTS_DIED</key>
	<string>All agents died</string>
	<key>CONTINUE</key>
	<string>CONTINUE</string>
	<key>PLAY</key>
	<string>PLAY</string>
	<key>CONTEXT_TITLE_INTRO</key>
	<string>INTRODUCTION</string>
	<key>CONTEXT_TITLE_DEPLOYMENT</key>
	<string>DEPLOYMENT</string>
	<key>BRIEF_LEVEL_1</key>
	<string>Greetings, commander. 

The first tests of the system are already finished. We have discovered the first traces of the alien specie in a forest zone of a small peninsula, from which it seems to have spread to a different ecosystem. The tracker(s)/seeker(s)?? bots are ready to be deployed in a few hours along the surface of Katram 0.2? 

The team is waiting for your orders to start the mission.</string>
	<key>CONTEXT_LEVEL_1_INTRO</key>
	<string>Thanks Cassandra. 

This beginnings remind me our own origins. The information recorded by our explorer ships show that Katram 0.2 have very similar environmental conditions to our first settlements in Africa. The earliest evidences of human beings were documented in East African forests about 4 million years ago. These human ancestors, the Australopithecines, had diversified into many forms that shared a vital characteristic: bipedalism. Walking upright enabled them to operate away from the forests in the open terrain of the savannah, giving them a wider food gathering range than other animals. 

Well, let&apos;s start the mission: the bots will be deployed along the forest zone with evidences of katramiants ??.</string>
	<key>CONTEXT_LEVEL_1_DEPLOYMENT</key>
	<string>We want to explore how they manage to subsist and expand along a very different different ecosystem, similar to the savannas of Planet Earth, till arrive to the objective 1.
Cassandra, please execute the order.</string>
	<key>BRIEF_LEVEL_2</key>
	<string>Greetings, commander. 

The tests of the system made after the first mission are already finished. We have discovered more traces of Katram 0.2 natives in the same peninsula. They seem to have spread to many other different ecosystems. 

The bots are ready and the team is waiting for your orders to start the next mission.</string>
	<key>CONTEXT_LEVEL_2_INTRO</key>
	<string>Thanks Cassandra. 

As we know, after the first movements to other ecosystems, our first ancestors flourished throughout much of sub-Saharan Africa by 3 million years ago. They were hunters, gatherers and scavengers, and remained within the African continent for about 2 million years, as is shown by sites like Olduvay (Tanzania), Koobi Fora (Kenya) and Swartkrans and Sterkfontein (South Africa). 
Is probable that katramiants have behaved in a similar way. </string>
	<key>CONTEXT_LEVEL_2_DEPLOYMENT</key>
	<string>These are the instructions for Mission 2: the bots will expand to different ecosystems until reaching the objectives 2, 3 and 4, to test how the katramiants spread to different areas.
Cassandra, please execute the order.</string>
	<key>BRIEF_LEVEL_3</key>
	<string>Greetings, commander. 

The tests of the system made after the second mission are already finished. The evidences show that the traces of the natives of Katram 0.2 extend to the entire continent called Sigyn. 

The bots are ready and the team is waiting for your orders to start the next mission.</string>
	<key>CONTEXT_LEVEL_3_INTRO</key>
	<string>Thanks Cassandra. 

Well, the evidences support the similarities between the behaviour of katramiants and human beings. On Planet Earth, due to various reasons (technological innovations? Social relations? Environmental changes? Population Growth ?, …), human groups spread throughout Africa and subsequently Eurasia, colonizing the different environments they found on its path.</string>
	<key>CONTEXT_LEVEL_3_DEPLOYMENT</key>
	<string>Cassandra, instructions for Mission 3: the bots will be sent to different ecosystems until reaching the objectives 4 to 8 and then colonize the entire continent called Sigyn. Install additional powers in the bots, we want to imitate the human expansion along the Planet Earth.</string>
	<key>BRIEF_LEVEL_4</key>
	<string>Greetings, commander. 

The tests of the system made after the third mission show that the natives of Katram 0.2 developed and used different types of technology during their expansion to the continent Sigyn. 

The bots are ready and the team is waiting for your orders to start the next mission.</string>
	<key>CONTEXT_LEVEL_4_INTRO</key>
	<string>Thanks Cassandra. 

Ok... technology. The hominid species called Homo Erectus come to my mind. The very earliest examples of Homo erectus date from around 2 million years ago in East Africa. The tools that they made were of significantly improved design from those of their ancestors, and included shaped hand axes and cleaving tools, which were used for specific functions, such as butchering animals. These early humans were skilled hunters and brilliant opportunists, quick to take advantage of different environments, which must have been a key factor in the success of the species. They are known to have used fire, making settlement possible in cold locations, and allowing them to cook food, which in turn led to the evolution of smaller jaws and less robust teeth.</string>
	<key>CONTEXT_LEVEL_4_DEPLOYMENT</key>
	<string>The expansion of the Katramiants seems to be very similar. Cassandra, these are the instructions for the next Mission: introduce the capability of developing technology in the bots and repeat the Mission 3. Let&apos;s see what happen with the addition of this element.
Please execute the order.</string>
	<key>BRIEF_LEVEL_5</key>
	<string>Greetings, commander. 

The tests of the system made after the last mission show evidences of the existence of a different alien specie in Katram 0.2. Data collected show that both species were very similar, but the organic and technological remains exhibit certain differences. There is no doubt that both species coexisted in the same environments, commander. </string>
	<key>CONTEXT_LEVEL_5_INTRO</key>
	<string>Thanks Cassandra. 
In our History we have evidences of similar situations. For example, Neanderthals and Homo sapiens are both human species. In 2014, a study of Neanderthal bones and tools indicates that Neanderthals died out in Europe between 41,000 and 39,000 years ago, and that Homo sapiens arrived in Europe between 45,000 and 43,000 years ago, it is now apparent that the two different human populations shared Europe for as long as 5,000 years. Both species were expert hunters, who pursued animals with wooden and stone-tipped spears. They made sophisticated tools and dwelt in caves, rock shelters, and open camps. They may have been capable of speech. </string>
	<key>CONTEXT_LEVEL_5_DEPLOYMENT</key>
	<string>Cassandra, please send bots with different characteristics to the surface and repeat the Mission 4. We want to see how they manage the encounter with a different group and how both groups expand. 
Please transmits my orders. </string>

    <!-- tutorial messages -->
    <key>LEVEL1M1</key>
    <string>Commander, welcome to the Console. Cool interface, isn't it?
I hope you like it because you'll spend the next weeks looking at it! Allow me to give you a quick reminder on how does it work.</string>
    <key>LEVEL1M2</key>
    <string>The satellites we deployed around the planet are tracking real-time information about the environment and our agents.
The Console shows you an aggregated of these data, making your life much easier</string>
    <key>LEVEL1M3</key>
    <string>These zones define mountains and arid areas. These are regions where resources are scarce, so the agents living there will die faster than usual</string>
</dict>
</plist>
