<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INTRO_1</key>
	<string>Professor, welcome to Kepler-1138</string>
	<key>INTRO_2</key>
	<string>An extinct humanoid species was discovered here ten years ago
    
We called them Lovans

Your task is to find out why they disappeared</string>
	<key>INTRO_3</key>
	<string>We have integrated Lovan DNA into our bots
      
The first specimens are now being deployed</string>
	<key>INTRO_4</key>
	<string>We are ready to start the first mission</string>
	<key>START</key>
	<string>START</string>
	<key>EXIT</key>
	<string>Exit</string>
	<key>NEW_GAME</key>
	<string>NEW GAME</string>
	<key>BACK</key>
	<string>BACK</string>
	<key>PAUSE</key>
	<string>PAUSE</string>
	<key>SET_ATTRIBUTES</key>
	<string>CONFIGURE YOUR BOTS BEFORE YOU START</string>
	<key>WARNING</key>
	<string>WARNING</string>
	<key>WARNING_TEXT</key>
	<string>STARTING A NEW GAME WILL DELETE YOUR PROGRESS</string>
	<key>WARNING_TEXT_EXIT</key>
	<string>YOU ARE LEAVING THE GAME</string>
	<key>SURE</key>
	<string>ARE YOU SURE</string>
	<key>LEVEL</key>
	<string>MISSION</string>
	<key>OPTIONS</key>
	<string>OPTIONS</string>
	<key>ACHIEVEMENTS</key>
	<string>UNLOCKS</string>
	<key>LANGUAGE</key>
	<string>LANGUAGE</string>
	<key>CREDITS</key>
	<string>CREDITS</string>
	<key>EXTRAS</key>
	<string>EXTRAS</string>
	<key>STORY</key>
	<string>STORY</string>
	<key>GOALS</key>
	<string>GOALS</string>
	<key>FIRSTERA</key>
	<string>Dispersal</string>
	<key>SECONDERA</key>
	<string>Conquest</string>
	<key>QUIT_QUESTION</key>
	<string>QUIT ?</string>
	<key>RETRY_QUESTION</key>
	<string>RETRY ?</string>
	<key>RETRY</key>
	<string>Retry</string>
	<key>AGENTS</key>
	<string>Bots</string>
	<key>TAP_TO_UNLOCK</key>
	<string>TAP TO UNLOCK</string>
	<key>TAP_TO_CONTINUE</key>
	<string>TAP TO CONTINUE</string>
	<key>PASS_MISSION</key>
	<string>PASS MISSION </string>
	<key>TO_UNLOCK_STORY</key>
	<string>TO UNLOCK STORY</string>
	<key>LIFE</key>
	<string>LIFE</string>
	<key>LEVEL_FEATURES</key>
	<string>ABILITIES</string>
	<key>ATTRIBUTES</key>
	<string>ATTRIBUTES</string>
	<key>POWERS</key>
	<string>BOOSTS</string>
	<key>NOT_AVAILABLE</key>
	<string>NOT AVAILABLE IN THIS MISSION</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCTION</string>
	<key>DESCRIPTION_REPRODUCTION</key>
	<string>Fertility rate</string>
	<key>MOBILITY</key>
	<string>MOBILITY</string>
	<key>DESCRIPTION_MOBILITY</key>
	<string>Range of interaction</string>
	<key>RESISTANCE</key>
	<string>RESISTANCE</string>
	<key>DESCRIPTION_RESISTANCE</key>
	<string>Endurance in harsh environments</string>
	<key>TECHNOLOGY</key>
	<string>TECHNOLOGY</string>
	<key>DESCRIPTION_TECHNOLOGY</key>
	<string>Improvements to all attributes</string>
	<key>INFLUENCE</key>
	<string>INFLUENCE</string>
	<key>DESCRIPTION_INFLUENCE</key>
	<string>Convince other bots to join your group</string>
	<key>WARFARE</key>
	<string>WARFARE</string>
	<key>DESCRIPTION_WARFARE</key>
	<string>Lethality in combat</string>
	<key>EXPLOITATION</key>
	<string>EXPLOITATION</string>
	<key>DESCRIPTION_EXPLOITATION</key>
	<string>Harvesting skills for wood and minerals</string>
	<key>TRADE</key>
	<string>TRADE</string>
	<key>DESCRIPTION_TRADE</key>
	<string>Exchange abilities with other groups</string>
	<key>TERRAFORMING</key>
	<string>TERRAFORM</string>
	<key>DESCRIPTION_TERRAFORM</key>
	<string>Shape the environment to your benefit</string>
	<key>DESCRIPTION_MobilityBoost</key>
	<string>Mobility (area effect)</string>
	<key>DESCRIPTION_ReproductionBoost</key>
	<string>Reproduction</string>
	<key>DESCRIPTION_ResistanceBoost</key>
	<string>Resistance (area effect)</string>
	<key>DESCRIPTION_InfluenceBoost</key>
	<string>Influence</string>
	<key>DESCRIPTION_WarfareBoost</key>
	<string>Warfare</string>
	<key>POPULATION</key>
	<string>Population</string>
	<key>EVOLUTION_POINTS</key>
	<string>EVOLUTION POINTS</string>
	<key>COST</key>
	<string>Cost</string>
	<key>MUSIC</key>
	<string>MUSIC</string>
	<key>MUSIC_CREDITS</key>
	<string>Music and sound</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>GAME_SPEED</key>
	<string>Game speed</string>
	<key>SLOW</key>
	<string>Slow</string>
	<key>MEDIUM</key>
	<string>Medium</string>
	<key>FAST</key>
	<string>Fast</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLETED</string>
	<key>GAME_OVER</key>
	<string>FAILED</string>
	<key>CONGRATULATIONS</key>
	<string>Congratulations!</string>
	<key>GOAL_FAIL_BEFORE</key>
	<string>Mission failed. Your population reached its goals before
the time indicated by archaeological data</string>
	<key>GOAL_FAIL_AFTER</key>
	<string>Mission failed. You did not reach the goal on time</string>
	<key>ALL_BOTS_DIED</key>
	<string>All bots died</string>
	<key>CONTINUE</key>
	<string>CONTINUE</string>
	<key>PLAY</key>
	<string>PLAY</string>
	<key>MURPHY</key>
	<string>Murphy&apos;s Toast Games</string>
	<key>DIRECTOR</key>
	<string>Game Director and Project Lead</string>
	<key>LEAD_PROGRAMMER</key>
	<string>Lead Programmer</string>
	<key>ADDITIONAL_PROGRAMMING</key>
	<string>Additional programming</string>
	<key>ART</key>
	<string>Artwork</string>
	<key>UI</key>
	<string>User Interface</string>
	<key>STORY_CONTENT</key>
	<string>Story and content</string>
	<key>SIMULPAST_TITLE</key>
	<string>The SimulPast Project</string>
	<key>SIMULPAST_TEXT</key>
	<string>Evolving Planet would not exist without a research project called SimulPast.
    
SimulPast is breaking down the barriers between science and the humanities to learn about our origins, our present and our future. At SimulPast, archaeologists, computer scientists, anthropologists and other experts use
computer simulations to improve our understanding of the past.

Evolving Planet explores this new way of conducting science. You will be part of a research team studying a species similar to humans through concepts such as evolution, technology and dispersal.

Tap the logo to learn more about SimulPast!</string>
	<key>SPECIAL_THANKS</key>
	<string>Special thanks</string>
	<key>SUPPORT</key>
	<string>With the support of</string>
	<key>POWERED</key>
	<string>Powered by</string>
	<key>CONTENT_WIKIMEDIA</key>
	<string>Additional content by</string>
	<key>OF</key>
	<string>of</string>
	<key>ACH_EARNED</key>
	<string>achievements earned</string>
	<key>CURRENT_GOAL</key>
	<string>CURRENT GOAL</string>
	<key>SKIP</key>
	<string>SKIP</string>
	<key>GOALS_COMPLETED</key>
	<string>GOALS COMPLETED</string>
	<key>BOT_COLOR</key>
	<string>Bot Colour</string>
	<key>THE_END</key>
	<string>THE END</string>
	<key>ARID</key>
	<string>ARID</string>
	<key>IMPASSABLE</key>
	<string>IMPASSABLE</string>
	<key>MINERAL</key>
	<string>MINERAL</string>
	<key>WOOD</key>
	<string>WOOD</string>
	<key>OBSIDIAN</key>
	<string>OBSIDIAN</string>
	<key>ARABLE</key>
	<string>ARABLE</string>
	<key>FOREST</key>
	<string>FOREST</string>
	<key>SAVANNAH</key>
	<string>SAVANNAH</string>
	<key>DESERT</key>
	<string>DESERT</string>
	<key>YOU_UNLOCKED</key>
	<string>You have unlocked</string>
	<key>ACHS_UNLOCK</key>
	<string>Achievements</string>
	<key>ACH_UNLOCK</key>
	<string>Achievement</string>
	<key>THANKS_PEOPLE</key>
	<string>...and our families, friends and pets!</string>
	<key>THANKS_PLAYER</key>
	<string>Evolving Planet mixes our passion for gaming and science.
We hope that you enjoyed playing the game as much as we did developing it.
    
Thank you!</string>
</dict>
</plist>
