<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>EMPEZAR</string>
	<key>NEW_CAMPAIGN</key>
	<string>NUEVA CAMPAÑA</string>
	<key>BACK</key>
	<string>VOLVER</string>
	<key>RESET</key>
	<string>RESETEAR</string>
	<key>PAUSE</key>
	<string>PAUSA</string>
	<key>WARNING</key>
	<string>ALERTA</string>
	<key>WARNING_TEXT</key>
	<string>EMPEZAR UNA NUEVA CAMPAÑA BORRARÁ TODO TU PROGRESO</string>
	<key>LEVEL</key>
	<string>NIVEL</string>
	<key>CONFIGURATION</key>
	<string>CONFIGURACIÓN</string>
	<key>ACHIEVEMENTS</key>
	<string>LOGROS</string>
	<key>LANGUAGE</key>
	<string>IDIOMA</string>
	<key>CREDITS</key>
	<string>CRÉDITOS</string>
	<key>GOALS</key>
	<string>OBJETIVOS</string>
	<key>FIRST_ERA</key>
	<string>PRIMERA ERA</string>
	<key>QUIT_QUESTION</key>
	<string>SALIR ?</string>
	<key>RETRY_QUESTION</key>
	<string>REPETIR ?</string>
	<key>AGENTS</key>
	<string>Agentes</string>
	<key>LIFE</key>
	<string>VIDA</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCCIÓN</string>
	<key>MOBILITY</key>
	<string>MOVILIDAD</string>
	<key>RESISTANCE</key>
	<string>RESISTENCIA</string>
	<key>TECHNOLOGY</key>
	<string>TECNOLOGÍA</string>
	<key>RECOLLECTION</key>
	<string>RECOLECCIÓN</string>
	<key>SUSTAINABILITY</key>
	<string>SOSTENIBILIDAD</string>
	<key>ADAPTATION</key>
	<string>ADAPTACIÓN</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>INFL CULTURAL</string>
	<key>HOSTILITY</key>
	<string>HOSTILIDAD</string>
	<key>EVOLUTION_POINTS</key>
	<string>PUNTOS DE EVOLUCIÓN</string>
	<key>LEVEL_FEATURES</key>
	<string>CARACTERÍSTICAS DEL NIVEL</string>
	<key>ATTRIBUTES</key>
	<string>ATRIBUTOS</string>
	<key>POWERS</key>
	<string>PODERES</string>
	<key>NOT_AVAILABLE</key>
	<string>NO DISPONIBLES EN ESTE NIVEL</string>
	<key>GOAL_TEXT_LVL1_1</key>
	<string>- Se debe llegar al punto de control 1 entre 30 y 50 pasos de tiempo</string>
	<key>GOAL_TEXT_LVL1_2</key>
	<string>- Se debe llegar al punto de control 2 entre 70 y 90 pasos de tiempo</string>
	<key>GOAL_TEXT_LVL1_3</key>
	<string>- Se debe llegar al punto de control 3 entre 90 y 110 pasos de tiempo</string>
	<key>MUSIC</key>
	<string>MÚSICA</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLETADO</string>
	<key>GAME_OVER</key>
	<string>FALLADO</string>
	<key>CONGRATULATIONS</key>
	<string>¡Enhorabuena!</string>
	<key>GOAL_NO_COMPLETED</key>
	<string>No has cumplido con el objetivo</string>
	<key>ALL_AGENTS_DIED</key>
	<string>Han muerto todos los agentes</string>
	<key>CONTINUE</key>
	<string>CONTINUAR</string>
	<key>PLAY</key>
	<string>JUGAR</string>
	<key>CONTEXT_TITLE_INTRO</key>
	<string>INTRODUCCIÓN</string>
	<key>CONTEXT_TITLE_DEPLOYMENT</key>
	<string>DESARROLLO</string>
</dict>
</plist>
