<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict> 
    <key>INTRO_1</key>
    <string>Profesor, bienvenido a Kepler-1138</string>
    <key>INTRO_2</key>
    <string>Hace 10 años encontramos aquí una especie humanoide ya extinta

Los llamamos Lovan

Tu tarea es descubrir por qué desaparecieron</string>
    <key>INTRO_3</key>
    <string>Hemos integrado el ADN Lovan en nuestros bots

Los primeros especímenes ya están siendo desplegados</string>
    <key>INTRO_4</key>
    <string>Estamos a punto para iniciar la primera misión</string>

	<key>START</key>
	<string>INICIO</string>
	<key>EXIT</key>
	<string>Salir</string>
	<key>NEW_GAME</key>
	<string>NUEVO</string>
	<key>BACK</key>
	<string>VOLVER</string>
	<key>RESET</key>
	<string>RESETEAR</string>
	<key>PAUSE</key>
	<string>PAUSA</string>
	<key>SET_ATTRIBUTES</key>
	<string>CONFIGURA TUS BOTS ANTES DE EMPEZAR</string>
	<key>WARNING</key>
	<string>ALERTA</string>
	<key>WARNING_TEXT</key>
	<string>EMPEZAR UNA NUEVA PARTIDA ELIMINARÁ TU PROGRESO</string>
	<key>LEVEL</key>
	<string>MISIÓN</string>
	<key>OPTIONS</key>
	<string>OPCIONES</string>
	<key>ACHIEVEMENTS</key>
	<string>LOGROS</string>
	<key>LANGUAGE</key>
	<string>IDIOMA</string>
	<key>CREDITS</key>
	<string>CRÉDITOS</string>
	<key>EXTRAS</key>
	<string>EXTRAS</string>
	<key>STORY</key>
	<string>HISTORIA</string>
	<key>GOALS</key>
	<string>OBJETIVOS</string>
	<key>FIRSTERA</key>
	<string>Expansión</string>
	<key>SECONDERA</key>
	<string>Conquista</string>
	<key>QUIT_QUESTION</key>
	<string>SALIR ?</string>
	<key>RETRY_QUESTION</key>
	<string>REINTENTAR ?</string>
	<key>RETRY</key>
	<string>Reintentar</string>
	<key>AGENTS</key>
	<string>Bots</string>
	<key>TAP_TO_UNLOCK</key>
	<string>TOCA PARA DESBLOQUEAR</string>
	<key>TAP_TO_CONTINUE</key>
	<string>TOCA PARA CONTINUAR</string>
	<key>PASS_MISSION</key>
	<string>COMPLETA LA MISIÓN </string>
	<key>TO_UNLOCK_STORY</key>
	<string> PARA DESBLOQUEAR LA HISTORIA</string>
	<key>LIFE</key>
	<string>VIDA</string>
	<key>LEVEL_FEATURES</key>
	<string>HABILIDADES</string>
	<key>ATTRIBUTES</key>
	<string>ATRIBUTOS</string>
	<key>POWERS</key>
	<string>AUMENTOS</string>
	<key>NOT_AVAILABLE</key>
	<string>NO DISPONIBLE EN ESTA MISIÓN</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCCIÓN</string>
	<key>DESCRIPTION_REPRODUCTION</key>
	<string>Tasa de fertilidad</string>
	<key>MOBILITY</key>
	<string>MOVILIDAD</string>
	<key>DESCRIPTION_MOBILITY</key>
	<string>Alcance de interacción</string>
	<key>RESISTANCE</key>
	<string>RESISTENCIA</string>
	<key>DESCRIPTION_RESISTANCE</key>
	<string>Aguante en entornos hostiles</string>
	<key>TECHNOLOGY</key>
	<string>TECNOLOGÍA</string>
	<key>DESCRIPTION_TECHNOLOGY</key>
	<string>Mejoras en todas tus habilidades</string>
	<key>INFLUENCE</key>
	<string>INFLUENCIA</string>
	<key>DESCRIPTION_INFLUENCE</key>
	<string>Convence a otros bots de unirse a tu grupo</string>
	<key>WARFARE</key>
	<string>GUERRA</string>
	<key>DESCRIPTION_WARFARE</key>
	<string>Letalidad en combate</string>
	<key>EXPLOITATION</key>
	<string>EXPLOTACIÓN</string>
	<key>DESCRIPTION_EXPLOITATION</key>
	<string>Tasa de recolección de madera y minerales</string>
	<key>TRADE</key>
	<string>COMERCIO</string>
	<key>DESCRIPTION_TRADE</key>
	<string>Habilidades de intercambio con otros grupos</string>
	<key>TERRAFORM</key>
	<string>TERRAFORMACIÓN</string>
	<key>DESCRIPTION_TERRAFORM</key>
	<string>Modifica el entorno a tu beneficio</string>
	<key>DESCRIPTION_MobilityBoost</key>
	<string>Movilidad (efecto de área)</string>
	<key>DESCRIPTION_ReproductionBoost</key>
	<string>Reproducción</string>
	<key>DESCRIPTION_ResistanceBoost</key>
	<string>Resistencia (efecto de área)</string>
	<key>DESCRIPTION_InfluenceBoost</key>
	<string>Influencia</string>
	<key>DESCRIPTION_WarfareBoost</key>
	<string>Guerra</string>
    <key>POPULATION</key>
    <string>Población</string>
	<key>EVOLUTION_POINTS</key>
	<string>PUNTOS DE EVOLUCIÓN</string>
	<key>COST</key>
	<string>Coste</string>
	<key>MUSIC</key>
    <string>Música</string>
    <key>MUSIC_CREDITS</key>
	<string>Música y Sonido</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>GAME_SPEED</key>
	<string>Velocidad de juego</string>
    <key>SLOW</key>
    <string>Lenta</string>
    <key>MEDIUM</key>
    <string>Media</string>
    <key>FAST</key>
    <string>Rápida</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLETADO</string>
	<key>GAME_OVER</key>
	<string>FRACASO</string>
	<key>CONGRATULATIONS</key>
	<string>Enhorabuena!</string>
	<key>GOAL_FAIL_BEFORE</key>
	<string>Misión fracasada: Tu población ha alcanzado el objetivo antes 
de lo sugerido por los datos arqueológicos</string>
	<key>GOAL_FAIL_AFTER</key>
	<string>Misión fracadasada: No has alcanzado el objetivo a tiempo</string>
	<key>ALL_BOTS_DIED</key>
	<string>Han muerto todos los bots</string>
	<key>CONTINUE</key>
	<string>CONTINUAR</string>
	<key>PLAY</key>
	<string>JUGAR</string>
	<key>MURPHY</key>
	<string>Murphy&apos;s Toast Games</string>
	<key>DIRECTOR</key>
	<string>Director de Juego y Líder del Proyecto</string>
	<key>LEAD_PROGRAMMER</key>
	<string>Programador Líder</string>
	<key>ADDITIONAL_PROGRAMMING</key>
	<string>Programación adicional</string>
	<key>ART</key>
	<string>Arte</string>
	<key>UI</key>
	<string>Interfaz de Usuario</string>
	<key>STORY_CONTENT</key>
	<string>Historia y contenidos</string>
	<key>SIMULPAST_TITLE</key>
	<string>El Proyecto SimulPast</string>
	<key>SIMULPAST_TEXT</key>
	<string>Evolving Planet no existiría sin un proyecto de investigación llamado SimulPast.
    
SimulPast está rompiendo las barreras entre Ciencias y Humanidades para entender nuestros orígenes, nuestro presente y nuestro futuro. En él Arqueólogos, Informáticos, Antropólogos y otros expertos crean simulaciones que mejoran nuestro conocimiento del pasado.

Evolving Planet explora esta nueva manera de hacer Ciencia. Serás parte del equipo de investigación que estudia una especie similar a la humana a través de conceptos como evolución, tecnología y dispersión.

Toca el logo para conocer más sobre SimulPast!</string>
	<key>SPECIAL_THANKS</key>
	<string>Agradecimientos</string>
	<key>SUPPORT</key>
	<string>Con el apoyo de</string>
	<key>POWERED</key>
	<string>Desarrollado con</string>
	<key>CONTENT_WIKIMEDIA</key>
	<string>Contenido adicional por</string>
	<key>OF</key>
	<string>de</string>
	<key>ACH_EARNED</key>
	<string>logros alcanzados</string>
	<key>CURRENT_GOAL</key>
	<string>OBJETIVO ACTUAL</string>
	<key>SKIP</key>
	<string>SALTAR</string>     
    <key>GOALS_COMPLETED</key>
    <string>OBJECTIVOS CONSEGUIDOS</string>
	<key>BOT_COLOR</key>
	<string>Color de los bots</string>
	<key>THE_END</key>
	<string>FIN</string>

    <key>ARID</key>
	<string>ÁRIDO</string>
    <key>IMPASSABLE</key>
	<string>IMPASABLE</string>
    <key>MINERAL</key>
	<string>MINERAL</string>
    <key>WOOD</key>
	<string>MADERA</string>
    <key>OBSIDIAN</key>
	<string>OBSIDIANA</string>
    <key>ARABLE</key>
	<string>CULTIVABLE</string>
    <key>FOREST</key>
	<string>SELVA</string>
    <key>SAVANNAH</key>
	<string>SABANA</string>
    <key>DESERT</key>
	<string>DESIERTO</string>

    <key>THANKS_PEOPLE</key>
    <string>...y nuestras famílias, amigos y mascotas!</string>
    <key>THANKS_PLAYER</key>
    <string>Evolving Planet fusiona nuestra pasión por los juegos y la ciencia.
Esperemos que hayas disfrutado jugando tanto como nosotros haciéndolo.

Gracias!</string>


</dict>
</plist>
