<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>START</key>
	<string>EMPEZAR</string>
	<key>NEW_CAMPAIGN</key>
	<string>NUEVA CAMPAÑA</string>
	<key>BACK</key>
	<string>VOLVER</string>
	<key>RESET</key>
	<string>RESETEAR</string>
	<key>PAUSE</key>
	<string>PAUSA</string>
	<key>SET_ATTRIBUTES</key>
	<string>CONFIGURA LOS AGENTES ANTES DE EMPEZAR</string>
	<key>WARNING</key>
	<string>ALERTA</string>
	<key>WARNING_TEXT</key>
	<string>EMPEZAR UNA NUEVA CAMPAÑA BORRARÁ TODO TU PROGRESO</string>
	<key>LEVEL</key>
	<string>MISIÓN</string>
	<key>CONFIGURATION</key>
	<string>CONFIGURACIÓN</string>
	<key>ACHIEVEMENTS</key>
	<string>LOGROS</string>
	<key>LANGUAGE</key>
	<string>IDIOMA</string>
	<key>CREDITS</key>
	<string>CRÉDITOS</string>
	<key>EXTRAS</key>
	<string>EXTRAS</string>
	<key>STORY</key>
	<string>HISTORIA</string>
	<key>GOALS</key>
	<string>OBJETIVOS</string>
	<key>ERA</key>
	<string>ERA</string>
	<key>FIRST</key>
	<string>PRIMERA</string>
	<key>SECOND</key>
	<string>SEGUNDA</string>
	<key>QUIT_QUESTION</key>
	<string>SALIR ?</string>
	<key>RETRY_QUESTION</key>
	<string>REPETIR ?</string>
	<key>AGENTS</key>
	<string>Agentes</string>
	<key>TAP_TO_UNLOCK</key>
	<string>TOCA PARA DESBLOQUEAR</string>
	<key>TAP_TO_CONTINUE</key>
	<string>TOCA PARA CONTINUAR</string>
	<key>LIFE</key>
	<string>VIDA</string>
	<key>REPRODUCTION</key>
	<string>REPRODUCCIÓN</string>
	<key>MOBILITY</key>
	<string>MOVILIDAD</string>
	<key>RESISTANCE</key>
	<string>RESISTENCIA</string>
	<key>TECHNOLOGY</key>
	<string>TECNOLOGÍA</string>
	<key>RECOLLECTION</key>
	<string>RECOLECCIÓN</string>
	<key>SUSTAINABILITY</key>
	<string>SOSTENIBILIDAD</string>
	<key>ADAPTATION</key>
	<string>ADAPTACIÓN</string>
	<key>CULTURAL_INFLUENCE</key>
	<string>INFL CULTURAL</string>
	<key>HOSTILITY</key>
	<string>HOSTILIDAD</string>
	<key>EVOLUTION_POINTS</key>
	<string>PUNTOS DE EVOLUCIÓN</string>
	<key>LEVEL_FEATURES</key>
	<string>CARACTERÍSTICAS DE LA MISIÓN</string>
	<key>ATTRIBUTES</key>
	<string>ATRIBUTOS</string>
	<key>POWERS</key>
	<string>PODERES</string>
	<key>NOT_AVAILABLE</key>
	<string>NO DISPONIBLES EN ESTA MISIÓN</string>
	<key>MUSIC</key>
	<string>MÚSICA</string>
	<key>SPECIAL_EFFECTS</key>
	<string>SFX</string>
	<key>ON</key>
	<string>On</string>
	<key>OFF</key>
	<string>Off</string>
	<key>LEVEL_COMPLETED</key>
	<string>COMPLETADO</string>
	<key>GAME_OVER</key>
	<string>FALLADO</string>
	<key>CONGRATULATIONS</key>
	<string>¡Enhorabuena!</string>
	<key>GOAL_FAIL_BEFORE</key>
	<string>Misión fallida: Tu población ha alcanzado el objetivo antes 
de lo que sugieren los datos arqueológicos</string>
	<key>GOAL_NO_AFTER</key>
	<string>Misión fallida: No has alcanzado el objetivo a tiempo</string>
	<key>ALL_AGENTS_DIED</key>
	<string>Han muerto todos los agentes</string>
	<key>CONTINUE</key>
	<string>CONTINUAR</string>
	<key>PLAY</key>
	<string>JUGAR</string>
	<key>CONTEXT_TITLE_INTRO</key>
	<string>INTRODUCCIÓN</string>
	<key>CONTEXT_TITLE_DEPLOYMENT</key>
	<string>DESARROLLO</string>
</dict>
</plist>
