<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRIEF_LEVEL_1</key>
	<string>Greetings, Professor. 

We will use bots to replicate Lovan history. They are a mixture of advanced bioengineering and artificial intelligence that has been fitted to recreate the extinct species.

The team is waiting for your orders to start the mission.</string>
	<key>CONTEXT_LEVEL_1_INTRO</key>
	<string>Professor, my name is Dr. Agatha Walker and I'm the leader of the xenoarchaeological team. We will assist you to understand what happened here using bots.  

    We deployed the bots in the zone where the first Lovan fossils were found. The environment reminds me of our own origins in East Africa, as our first ancestors lived in a forest similar to this one 4 million years ago.</string>

	<key>BRIEF_LEVEL_2</key>
	<string>Greetings, Professor. 

The bots seems to respond correctly to our commands. We need them to disperse to the rest of the peninsula where they started.</string>
	<key>CONTEXT_LEVEL_2_INTRO</key>
	<string>The success of Lovans allowed them to populate several other ecosystems.
    
    In a similar way our first ancestors flourished throughout much of sub-Saharan Africa using different food sources.
    
    They were hunters, scavengers and also consumed any edible part from plants.</string>

	<key>BRIEF_LEVEL_3</key>
	<string>Greetings, Professor. 

The bots are ready to emulate the colonization of arid zones beyond their usual forest habitats.</string>
	<key>CONTEXT_LEVEL_3_INTRO</key>
	<string>Similarities between Lovan beginnings and human beings are surprising...will we find the same pattern in the entire galaxy?

I won't be extremely helpful here; we know that hominins spread throghout the entire planet Earth, but we are not sure why.

Let's start with population increase and see where do we go from here.</string>
	<key>BRIEF_LEVEL_4</key>
	<string>Greetings, Professor. 

Dr. Walker is not convinced of the previous results so we will try a different idea.</string>
	<key>CONTEXT_LEVEL_4_INTRO</key>
	<string>Last reports suggest that the Lovan dispersion was way faster than we achieved last mission.

I want to try a different approach; what if we provide the bots with improved technology?

They should be able to achieve the goals within expected time if they combine fire with stone tools...yeah, I think this should work better!</string>
	<key>BRIEF_LEVEL_5</key>
	<string>Greetings, Professor. 

Lovans found other species as they colonized this world. For this mission we have deployed different bots to replicate the existance of these other groups.</string>
	<key>CONTEXT_LEVEL_5_INTRO</key>
	<string>We will have interaction with several other species during this archaeological expedition.

This planet was not only populated by Lovans, as Earth was not a Sapiens-only club. We shared Eurasia with Neanderthals during 5.000 years. They were also hominins, quite similar to us in any aspect, including technology, culture and even language.

They disappeared as a species over 30.000 years ago; however, based on what our DNA tells us each of us has a small Neanderthal inside...and trust me, DNA never lies!</string>

    <!-- Influence -->
    <key>BRIEF_LEVEL_6</key>
	<string>Greetings Professor.

We discovered that one of the species present in this planet disappeared after contacting Lovans.

Mission control wants to test if they hybridized and became somehow a single species.</string>
	<key>CONTEXT_LEVEL_6_INTRO</key>
	<string>This situation raises a lot of complex questions.
    
    One hypothesis about the extinction of Neanderthals suggests that they were absorbed by the Cro-Magnon population by a mix of cultural influence and hybridation...
    
    Let's try this idea here.</string>
    <key>BRIEF_LEVEL_7</key>
	<string>Greetings Professor.

    We found another extinct species. There are clear evidences of conflict with Lovans so for this mission your bots will be able to fight.
    </string>
	<key>CONTEXT_LEVEL_7_INTRO</key>
	<string>And I thought that they were good kids...we discovered a bunch of skeletons with clear signs of violence. 

    Violence is not uncommon when different species compete for the same resources. This conflict becomes scary when social organization and technology increase. Humans have experience on this regard; we almost killed ourselves in the XXth century. Was conflict the cause of Lovan extinction?
    
Lovans wiped out this species while they invaded their territory, so our bots will have to emulate this situation.</string>

    <key>BRIEF_LEVEL_8</key>
	<string>Greetings Professor.

Climate drastically changed through Lovan dispersal. Here the species had to cross a vast zone while resources were rapidly decreasing.</string>
	<key>CONTEXT_LEVEL_8_INTRO</key>
	<string>Hunting and gathering are pretty decent way of living. Ok, you rely on wildlife to survive, but you are more flexible than farmers. Plus, you work less hours!

    However, when resources suddenly become scarce you will have to compete for resources. This is what happened here.

    The eastern part of the map transformed from a green forest to the current desert. A different group was struggling to survive when Lovans reached the zone. You will need to combine cultural influence and conflict to reach your goals.</string>

    <key>BRIEF_LEVEL_9</key>
	<string>Greetings Professor.

Looks like this planet was a crowded place. For this mission you will have to face two species simultaneously.</string>
	<key>CONTEXT_LEVEL_9_INTRO</key>
	<string>It seems that you'll find both competition and cooperation here. 

I think that we face here a situation where Lovans allied with one of the groups to attack the other one. I recommend trying to influence the closest ones, and once your group is large enough deal with the rest of objectives.</string>

    <key>BRIEF_LEVEL_10</key>
	<string>Greetings Professor.

This mission completes the Lovan dispersal. They proved their adaptive capacity populating the planet from pole to pole.

However, evidence is scarce in this last zone so we are not sure what happened.</string>
	<key>CONTEXT_LEVEL_10_INTRO</key>
	<string>I have some bad news...we don't have a clue why Lovans were successful in this region.
    
The uncertainty is killing me, but this is science! We accept an explanation until another one proves to be better considering the evidence, as simple as that.

Let's explore this last dispersal by trying different approaches. You can make the bots more aggressive, technologically advanced or capable of influencing other bots.</string>

	<key>LEVEL_1_STORY</key>
	<string>Who are we? Who created us?</string>
    <key>LEVEL_2_STORY</key>
	<string>Our destiny is to arrive to the mountain of fire</string>
    <key>LEVEL_3_STORY</key>
	<string>We are the masters of fire. We are the Zho'll</string>
    <key>LEVEL_4_STORY</key>
	<string>Fire and stone are our tools. With the help of our Guides we will conquer this world.</string>
    <key>LEVEL_5_STORY</key>
	<string>We will not be afraid of anyone or anything.</string>
    <key>LEVEL_6_STORY</key>
	<string>The Guides watch us and provide for us</string>
    <key>LEVEL_7_STORY</key>
	<string>Do we need the Guides? The Zho'll already own this land!</string>
    <key>LEVEL_8_STORY</key>
	<string>But we are not alone...</string>
    <key>LEVEL_9_STORY</key>
	<string>The Zho'll will succeed where others failed.</string>
    <key>LEVEL_10_STORY</key>
	<string>Why do we have to obey the Guides and move again?</string>
</dict>
</plist>
