<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRIEF_LEVEL_1</key>
	<string>Salutacions, comandant. Ja hem acabat els tests inicials del sistema i tot està a punt. Podrem desplegar els bots a la superfície del planeta en unes poques hores.

Hem detectat les primeres traces d&apos;aquesta espècie alienígena en una petita península, desde la qual sembla que es van expandir a la resta del continent, Sigyn. L&apos;equip espera les teves ordres per a començar la missió!Hem detectat les primeres traces d&apos;aquesta espècie alienígena en una petita península, desde la qual sembla que es van expandir a la resta del continent, Sigyn. L&apos;equip espera les teves ordres per a començar la missió!</string>
	<key>CONTEXT_LEVEL_1_INTRO</key>
	<string>Aquests inicis em recorden als nostres propis orígens... 

Les primeres evidències d&apos;éssers humans s&apos;han documentat a l&apos;est del continent africà farà uns 4 milions d&apos;anys. Els arqueòlegs van trobar allà una espècie anomenada Homo Erectus. La informació recollida per les nostres sondes enviades a Hnoss suggereix que Sigyn tenia unes condicions ambientals similars a aquests primers assentaments...

Em pregunto com subsistien en aquest entorn; el més probable és que fossin una barreja de caçadors, recolectors i carronyaires, més o menys com els nostres ancestres.</string>
	<key>CONTEXT_LEVEL_1_DEPLOYMENT</key>
	<string>En qualsevol cas, anem a començar pel principi; els bots seran desplegats en aquesta primera zona amb evidències de XXX. Volem examinar com es van dispersar des d&apos;aquesta península a la resta del continent.</string>
</dict>
</plist>
