<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BRIEF_LEVEL_1</key>
        <string>Primer dia de campanya
            
            Replicarem la història dels Lovans amb bots. Són una barreja de bioenginyeria avançada i Intel·ligència Artificial dissenyada per imitar aquesta espècie extingida.
            
            L'equip espera les teves ordres per començar la missió.</string>
        <key>CONTEXT_LEVEL_1</key>
        <string>Professor, sóc la doctora Rosalind Lovelace i lidero l'equip xenoarqueòlogic. T'ajudarem a fer servir els bots per entendre el que va passar en aquest planeta.
            
            Hem desplegat els bots a la zona on es van trobar els primers fòssils de Lovans. Aquest medi ambient em recorda els nostres propis orígens a l'Àfrica Oriental ja que els nostres primers avantpassat van viure a una selva semblant a aquesta fa 4 milions d'anys.</string>
        
        <key>BRIEF_LEVEL_2</key>
        <string>Dia de campanya 7
            
            Els bots estan responent a les teves ordres. Necessitem que es dispersin cap a la resta de la península on vam començar.</string>
        <key>CONTEXT_LEVEL_2</key>
        <string>L'èxit dels Lovan els va permetre poblar molts altres ecosistemes.
            
            Ho van fer de manera similar als nostres ancestres, que van florir per tota l'Àfrica sub-Sahariana fent servir diferents fonts d'alimentació, des de la caça a la recol·lecció de plantes comestibles.</string>
        
        <key>BRIEF_LEVEL_3</key>
        <string>Dia de campanya 10
            
            Els bots ja estan apunt per emular la colonització de les zones àrides, més enllà del seu habitual hàbitat selvàtic.</string>
        <key>CONTEXT_LEVEL_3</key>
        <string>Les similituds entre els Lovan i els orígens humans son sorprenents... són l'espècie que més s'assembla a nosaltres de tota la galàxia.
            
            Em temo que no seré massa útil en aquesta missió; sabem que els Lovan es van escampar per tot el planeta, però no estem segurs de com ho van fer.
            
            Començarem amb un increment de població i després ja vorem on anem a partir d'aquí.</string>
        <key>BRIEF_LEVEL_4</key>
        <string>Dia de campanya 11
            
            La Dra. Lovelace no està convençuda dels resultats anteriors, així que provarem algo diferent.</string>
        <key>CONTEXT_LEVEL_4</key>
        <string>Els darrers informes suggereixen que la dispersió dels Lovan va ser molt més ràpida que la que vam aconseguir a la darrera missió.
            
            Vull provar una altra estratègia; que passaria si els hi proporcionessim tecnologia?
            
            Els bots haurien de ser capaços d'aconseguir arribar als objectius en el temps estimat, sempre i quan combinin foc i eines de pedra... val, crec que pot funcionar!</string>
        <key>BRIEF_LEVEL_5</key>
        <string>Dia de campanya 16
            
            A mesura que van colonitzar el món, els Lovan es van creuar amb altres espècies. Per aquesta missió hem desplegat altres bots que repliquen l'existència d'aquests grups.</string>
        <key>CONTEXT_LEVEL_5</key>
        <string>Els nostres bots haurien d'interactuar amb altres grups durant l'expedició arqueològica.
            
            Aquest planeta no només ha estat poblat per Lovans, de la mateixa manera que la Terra no era un club exclusiu per Sapiens. Vam compartir Euràsia amb els Neandertals durant 5.000 anys. Aquests homínids eren bastant semblants a nosaltres en tots els aspectes, incloent la tecnologia, cultura, fins i tot llenguatge.
            
            Van desaparèixer com a espècie fa 30.000 anys; no obstant això, el nostre ADN ens explica que cadadascú de nosaltres té un petit Neandertal dintre seu... i creu-me, l'ADN mai menteix!</string>
        
        <!-- Influence -->
        <key>BRIEF_LEVEL_6</key>
        <string>Dia de campanya 17
            
            Hemos descubierto una especie que desapareció del planeta justo después de entrar en contacto con los Lovan.
            
            El control de misión quiere que probemos si los dos grupos hibridaron y de algún modo llegaron a ser una sola especie.</string>
        <key>CONTEXT_LEVEL_6</key>
        <string>Este escenario genera un montón de preguntas complejas.
            
            Una hipótesis sobre la extinción de los Neandertales sugiere que fueron absorbidos por la población Cro-Magnon a través de una mezcla de influencia cultural e hibridación.
            
            Vamos a probar aquí esta misma idea.</string>
        <key>BRIEF_LEVEL_7</key>
        <string>Dia de campanya 20
            
            Hemos encontrado otra especie extinta. Hay evidencia de conflicto con los Lovan así que para esta misión tus bots van a poder luchar.</string>
        <key>CONTEXT_LEVEL_7</key>
        <string>Y pensaba que eran buenos chicos...hemos descubierto muchos esqueletos con claras señales de violencia.
            
            La violencia no es rara entre especies compitiendo por los mismos recursos. Este conflicto se hace más terrorífico a medida que la organización social y la tecnología aumentan en complejidad. Los humanos tenemos experiencia en este sentido; casi nos matamos a nosotros mismos durante el siglo XX. Me pregunto si pudiera ser esto lo que causó la extinción Lovan.
            
            En todo caso se cargaron a esta otra especie mientras invadian su territorio, así que nuestros bots van a tener que emular la situación.</string>
        
        <key>BRIEF_LEVEL_8</key>
        <string>Dia de campanya 23
            
            El clima cambió drásticamente durante la dispersión Lovan. En esta zona tuvieron que cruzar un gran desierto mientras los recursos disponibles se redujeron rápidamente.</string>
        <key>CONTEXT_LEVEL_8</key>
        <string>La caza y la recolección son un estilo de vida bastante decente. Vale, vives en base a lo que te da la vida salvaje, pero tu dieta es menos aburrida que si fueras un granjero. Y además, trabajas menos horas!
            
            Por otro lado, debes emigrar cuando los recursos bajan.
            
            En esta misión una larga sequía convirtió una selva verde en un desierto. Los Lovan lo cruzaron mientras otro grupo luchaba por sobrevivir así que vamos a ver cómo fue la competición.</string>
        
        <key>BRIEF_LEVEL_9</key>
        <string>Dia de campanya 25
            
            Parece que este planeta estaba abarrotado. En esta misión tus bots van a encontrarse a la vez con dos especies.</string>
        <key>CONTEXT_LEVEL_9</key>
        <string>Vas a tener que cooperar y competir al mismo tiempo.
            
            Creo que en este escenario los Lovan se aliaron con uno de los grupo y atacaron al otro. Te recomiendo que intentes influenciar al más cercano, y una vez tu grupo sea suficientemente grande puedes lidiar con el resto de los objetivos.</string>
        
        <key>BRIEF_LEVEL_10</key>
        <string>Dia de campanya 30
            
            Esta misión completa la dispersión Lovan. Demostraron su capacidad adaptativa poblando el planeta de polo a polo.
            
            Sin embargo, la evidencia es bastante escasa y no sabemos qué paso en esta última zona.</string>
        <key>CONTEXT_LEVEL_10</key>
        <string>Tengo malas noticias...no tenemos ni idea de por qué los Lovan tuvieron éxito colonizando esta región.
            
            La incertidumbre me está matando, pero así es la Ciencia! Aceptamos una explicación hasta que otra se ajusta mejor a la evidencia, tan simple como esto.
            
            Vamos a explorar la última dispersión con distintas estrategias. Puedes probar con bots más agresivos, tecnológicamente avanzados o capaces de influenciar a los otros grupos.</string>
        
        <key>BRIEF_LEVEL_11</key>
        <string>Los Lovan florecieron en todo Kepler-1138. El incremento de población promovió el desarrollo de nuevas tecnologías y exploración adicional de los vastos recursos del planeta.</string>
        <key>CONTEXT_LEVEL_11</key>
        <string>Dia de campanya 41
            
            Los Lovan explotaron todos los recursos disponibles en su medio ambiente para mejorar sus opciones de supervivencia. Esto incluye obsidiana y minerales útiles para crear herramientas, así como madera como combustible y hacer mejores viviendas.
            
            Hemos desplegado estos dos recursos en esta misión para entender cómo los Lovan explotaron el planeta, de un modo similar a los humanos en la Tierra.</string>
        
        <key>BRIEF_LEVEL_12</key>
        <string>Los recursos naturales del entorno se comparten entre todos los individuos que viven en él.
            
            Esto crea tensiones entre grupos cuando distintos grupos compiten por un recurso finito.</string>
        <key>CONTEXT_LEVEL_12</key>
        <string>Dia de campanya 44
            
            Comida, madera, minerales...nada es infinito así que las cantidades disponibles definen cuánta población puede vivir en un sitio particular. Este límite genera dinámicas de competición entre individuos, como las que hemos observado en esta área.
            
            Tus bots necesitarán ganar el control de un bosque, en manos de otro grupo. Tienes muchas opciones disponibles para tener éxito: mejorar Influencia, Violencia o quizás Mobilidad?</string>
        
        <key>BRIEF_LEVEL_13</key>
        <string>La competición no es la única consecuencia de la explotación de recursos. Hemos encontrado evidencia de comercio entre los Lovans y otros grupos en el área.
            
            Intercambiaron minerales y madera; esta redistribución benefició a ambas poblaciones.    </string>
        <key>CONTEXT_LEVEL_13</key>
        <string>Dia de campanya 50
            
            Esto es fascinante, parece que nuestros chicos consiguieren minerales en esta región mediante el trueque por madera. Los humanos han comerciado por cualquier cosa desde sus inicios, y los Lovans no fueron distintos al respecto.
            
            Tus bots necesitan aprender las complejidades del comercio antes de superar esta misión.</string>
        
        <key>BRIEF_LEVEL_14</key>
        <string>El comercio es una de las actividades que potencian el contacto entre poblaciones. Los Lovan se aliaron con otro grupo para controlar los recursos minerales de una de las áreas más ricas del planeta.</string>
        <key>CONTEXT_LEVEL_14</key>
        <string>Dia de campanya 53
            
            El intercambio de bienes no sólo tiene que ver con cosas. Por ejemplo, en la Tiera la obsidiana sólo se encuentra en algunos sitios, y por lo tanto viaja cientos de quilómetros hasta los lugares en los que los arqueólogos la han encontrado.
            
            El comercio necesita comunicación entre individuos. No sólo comparten bienes: también comparten ideas. Parece que los Lovan y otro grupo unieron sus fuerzas para controlar la obsidiana presente en una cadena montañosa. Esto promovió su control sobre la región entera.</string>
        
        <key>BRIEF_LEVEL_15</key>
        <string>La conquista Lovan del planeta tiene varias causas: desde sus capacidades de explotación al desarrollo tecnológico y la influencia cultural.
            
            En este caso fueroni capaces de controlar los recursos de una región grande a una velocidad impresionante.</string>
        <key>CONTEXT_LEVEL_15</key>
        <string>Dia de campanya 60
            
            Estamos ahora seguros que el éxito de los Lovan se basó en parte en sus habilidades negociadoras. Su cultura dejó una fuerta impresión en los otros grupos, y diversas evidencias sugieren que también eran excelentos comerciantes.
            
            Si queremos ajustarnos a las fechas de dispersión en esta zona necesitamos que tus bots adquieran múltiples recursos con una combinación de capacidades sociales y técnicas.</string>
        
        <key>BRIEF_LEVEL_16</key>
        <string>Los Lovan aprendieron gradualmente a transformar su medio ambiente.
            
            Esto incrementó su población más allá de los números que el sistema de caza y recolección poDia mantener.</string>
        <key>CONTEXT_LEVEL_16</key>
        <string>Dia de campanya 70
            
            La domesticación de plantas y animales cambió radicalmente la cultura humana en nuestro planeta natal. Agricultura y pastoreo nos permitieron generar mucha más comida, y por lo tanto el tamaño de la población aumentó.
            
            Este complejo proceso se llama Neolítico, y parece que hemos encontrado aquí una situación similar.</string>
        
        <key>BRIEF_LEVEL_17</key>
        <string>Un incremento de población a menudo comporta un uso más intensivo del entorno.
            
            En esta región los Lovan combinaron Terraformación con Explotación a gran escala de un bosque. Pese a ello, consigueron evitar sobreexplotar las riquezas de esta región.</string>
        
        <key>CONTEXT_LEVEL_17</key>
        <string>Dia de campanya 74
            
            Las primeras comunidades agricultoras no consumían solo sus rebaños y plantaciones. El medio ambiente proporcionaba mucha más comida y otros bienes, así que por qué los deberían descartar?
            
            Pero esto tiene un coste: más comida implica más gente. Esto puede generar la sobreexplotación del entorno y generar una situación donde todo el mundo pierde.
            
            Los Lovan consigueron evitar este problema, más o menos como los humanos hicimos a inicios del siglo XXI.</string>
        
        <key>BRIEF_LEVEL_18</key>
        <string>Parece que hemos hallado el punto de inflexión de la existencia de los Lovan.
            
            Una serie de sequías bajaron la disponibilidad de recursos hasta el punto que los distintos grupos empezaros a competir entre ellos.</string>
        <key>CONTEXT_LEVEL_18</key>
        <string>Dia de campanya 79
            
            Nuestro análisis sugiere que las condiciones ambientales rápidamente se deterioraron, desencadenando conflictos entre grupos a gran escala.
            
            Nuestra misión aquí es entender la relación entre cambio climático y conflicto, a medida que los recursos se hacían escasos. Puedes intentar distintas opciones, pero ten en cuenta que la sobreexplotación puede conducir a un aumento de las confrontaciones.</string>
        
        <key>BRIEF_LEVEL_19</key>
        <string>La población menguante intentó sobrevivir en un medio ambiente muy deteriorado.
            
            Estos son los últimos latidos de los Lovan: desaparecieron junto con el resto de grupos a medida que la población colapsaba en una serie de interminables conflictos bélicos.</string>
        <key>CONTEXT_LEVEL_19</key>
        <string>Dia de campanya 87
            
            Aquí nos encontramos, después de tantos desafíos: es el final de esta historia fascinante. La falta de tierras cultivables generó muchas guerras. Las pocas posibilidades que tenía la población restante se malograron cuando los grupos se atacaron los unos a los otros.
            
            Pese a todo, los Lovan sobrevivieron algunos décadas más. Estudiaremos el último conflicto en el que se vieron involucrados. Necesitarás incrementar tu población mediante Terraformación antes que otro gruipo invada la zona. Ten en cuenta que esta situación desesperada generó grupos extremadamente agresivos, así que no hay Influencia cultural posible en esta misión.</string>
        
        <key>BRIEF_LEVEL_20</key>
        <string>Buen trabajo, el experimento ha finalizado!
            
            Sin embargo, ha pasado algo inesperado. Los Bots deberían haber desaparecido después de la última misión, pero aún están ahí. Deberías inhabilitarlos antes que dejamos Kepler.</string>
        <key>CONTEXT_LEVEL_20</key>
        <string>Dia de campanya 90
            
            No sé cómo explicar esto: los bots ignoraron nuestras últimas órdenes y ahora mismo estçan buscando por algún territorio dónde aún puedan sobrevivir.
            
            Ya tenemos nuestros resultados finales, y técnicamente deberíamos destruir los bots que quedan antes de dejar el planeta. No sé cómo lo ves, pero más que finalizar un experimento me da más la sensación de cometer un genocidio.
            
            No puedes fallar esta misión: o acabas la Historia otra vez, o les das a los Lovan una nueva oportunidad. Profesor, esta es tu elección.</string>
        
        <key>LEVEL_1_STORY</key>
        <string>Quiénes somos? Quién nos creó?</string>
        <key>LEVEL_2_STORY</key>
        <string>Encontraremos nuestro destino en la montaña de fuego</string>
        <key>LEVEL_3_STORY</key>
        <string>Somos los señores del fuego. Somos los Zho'll</string>
        <key>LEVEL_4_STORY</key>
        <string>Los Guías nos dieron fuego y piedra para dominar este mundo</string>
        <key>LEVEL_5_STORY</key>
        <string>No temeremos a nadie ni a nada</string>
        <key>LEVEL_6_STORY</key>
        <string>Necesitamos a los Guías? Los Zho'll controlan esta tierra!</string>
        <key>LEVEL_7_STORY</key>
        <string>Pero no estamos solos...</string>
        <key>LEVEL_8_STORY</key>
        <string>Los Guías nos vigilan y proveen por nosotros</string>
        <key>LEVEL_9_STORY</key>
        <string>Los Zho'll triunfarán donde otros fallaron</string>
        <key>LEVEL_10_STORY</key>
        <string>Este es nuestro mundo. Viviremos donde nos plazca</string>
        <key>LEVEL_11_STORY</key>
        <string>El símbolo de los Guías apunta hacia su morada</string>
        <key>LEVEL_12_STORY</key>
        <string>El planeta entero sabrá que los Guías nos vigilan</string>
        <key>LEVEL_13_STORY</key>
        <string>Podemos comerciar minerales por todo lo que deseamos</string>
        <key>LEVEL_14_STORY</key>
        <string>Que nuestras almas se reúnan con los Guías</string>
        <key>LEVEL_15_STORY</key>
        <string>El mundo entero es nuestro hogar</string>
        <key>LEVEL_16_STORY</key>
        <string>Daremos una vida mejor a nuestra descendencia</string>
        <key>LEVEL_17_STORY</key>
        <string>Los Zho'll son los amos de este mundo, de sus plantas y animales</string>
        <key>LEVEL_18_STORY</key>
        <string>Nuestros campos yacen muertos. Por qué nos castigan los Guías?</string>
        <key>LEVEL_19_STORY</key>
        <string>No queremos ser olvidados. Este es nuestro mundo!</string>
        <key>LEVEL_20_STORY</key>
        <string>Somos los Zho'll. Somos los amos de nuestro destino</string>
        <key>LEVEL_21_STORY</key>
        <string>Misión completada. Volvamos a casa!</string>
        
        <!-- dates -->
        <key>DATE_LEVEL_1</key>
        <string>1 milió d'any AE (Abans de l'Extinció)</string>
        <key>DATE_LEVEL_2</key>
        <string>300.000 AE</string>
        <key>DATE_LEVEL_3</key>
        <string>70.000 AE</string>
        <key>DATE_LEVEL_4</key>
        <string>70.000 AE</string>
        <key>DATE_LEVEL_5</key>
        <string>30.000 AE</string>
        <key>DATE_LEVEL_6</key>
        <string>25.000 AE</string>
        <key>DATE_LEVEL_7</key>
        <string>22.000 AE</string>
        <key>DATE_LEVEL_8</key>
        <string>15.000 AE</string>
        <key>DATE_LEVEL_9</key>
        <string>10.000 AE</string>
        <key>DATE_LEVEL_10</key>
        <string>8.000 AE</string>
        <key>DATE_LEVEL_11</key>
        <string>6.000 AE</string>
        <key>DATE_LEVEL_12</key>
        <string>5000 AE</string>
        <key>DATE_LEVEL_13</key>
        <string>3600 AE</string>
        <key>DATE_LEVEL_14</key>
        <string>2500 AE</string>
        <key>DATE_LEVEL_15</key>
        <string>1700 AE</string>
        <key>DATE_LEVEL_16</key>
        <string>1000 AE</string>
        <key>DATE_LEVEL_17</key>
        <string>500 AE</string>
        <key>DATE_LEVEL_18</key>
        <string>200 AE</string>
        <key>DATE_LEVEL_19</key>
        <string>45 AE</string>
        <key>DATE_LEVEL_20</key>
        <string>0 AE</string>
    </dict>
</plist>

