<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRIEF_LEVEL_1</key>
	<string>Primer día de campaña

Replicaremos la historia de los Lovan con bots. Son una mezcla de bioingeniería avanzada e Inteligencia Artificial diseñada para imitar esta especie extinguida.

El equipo espera tus órdenes para empezar la misión.</string>
	<key>CONTEXT_LEVEL_1</key>
	<string>Profesor, soy la doctora Rosalind Lovelace y lidero el equipo xenoarqueológico. Te ayudaremos a usar los bots para entender lo que pasó en este planeta.

Hemos desplegado una población inicial de bots en la zona donde se encontraron los primeros fósiles Lovan.

Este medio ambiente me recuerda a nuestros propios orígenes en África Oriental. Hace 4 millones de años nuestros primeros antepasados vivieron en una selva similar a ésta.</string>

	<key>BRIEF_LEVEL_2</key>
	<string>Día de campaña 7

Los bots están respondiendo correctamente a tus órdenes.

Necesitamos que se dispersen hacia el resto de la península donde empezaron.</string>
	<key>CONTEXT_LEVEL_2</key>
	<string>El éxito de los Lovan les permitió poblar muchos otros ecosistemas.

Lo hicieron de manera similar a nuestros ancestros, que florecieron por toda África subsahariana usando distintas estrategias, desde la caza a la recolección de plantas comestibles.</string>

	<key>BRIEF_LEVEL_3</key>
	<string>Día de campaña 10

Los bots están ya a punto para emular la colonización de las zonas áridas, más allá de su habitual hábitat selvático.</string>
	<key>CONTEXT_LEVEL_3</key>
	<string>Las similitudes entre los Lovan y los orígenes humanos son sorprendentes...son la especie más parecida a nosotros de toda la galaxia.

Me temo que no seré demasiado útil en esta misión; sabemos que los Lovan se esparcieron por todo el planeta, pero no estamos seguros de cómo lo hicieron.

Empezaremos con un incremento de población y ver hacia dónde vamos a partir de aquí.</string>
	<key>BRIEF_LEVEL_4</key>
	<string>Día de campaña 11

La Dra. Lovelace no está convencida de los resultados anteriores, así que vamos a probar algo distinto.</string>
	<key>CONTEXT_LEVEL_4</key>
	<string>Los últimos informes sugieren que la dispersión Lovan fue mucho más rápida que lo que conseguimos en la última misión.

Quiero probar otra estrategia: que pasaría si les proporcionamos tecnología?

Los bots deberían llegar a los objetivos en el tiempo estimado, siempre y cuando combinen fuego y herramientas de piedra...vale, creo que esto puede funcionar!</string>
	<key>BRIEF_LEVEL_5</key>
	<string>Día de campaña 16

A medida que colonizaron el mundo los Lovan encontraron otras especies. Para esta misión hemos desplegado otros bots que replican la existencia de estos grupos.</string>
	<key>CONTEXT_LEVEL_5</key>
	<string>Nuestros bots deberán interactuar con otros grupos durante la expedición arqueológica.

Este planeta no solo estaba poblado por Lovans, del mismo modo que la Tierra no era un club exclusivo para Sapiens. Compartimos Eurasia con los Neandertales durante 5.000 años. Estos homínidos eran bastante parecidos a nosotros en todos los aspectos, incluyendo tecnología, cultura y hasta lenguaje.

Desaparecieron como especie hacia 30.000 años; sin embargo, nuestro ADN nos explica que cada uno de nosotros tiene un pequeño Neandertal dentro de él...y confía en mí, el ADN nunca miente!</string>

    <!-- Influence -->
    <key>BRIEF_LEVEL_6</key>
	<string>Día de campaña 17

Hemos descubierto una especie que desapareció del planeta justo después de entrar en contacto con los Lovan.

El control de misión quiere que probemos si los dos grupos hibridaron y de algún modo llegaron a ser la misma especie.</string>
	<key>CONTEXT_LEVEL_6</key>
	<string>Este escenario plantea un montón de preguntas.
    
Una hipótesis sobre la extinción de los Neandertales sugiere que fueron absorbidos por la población Cro-Magnon a través de una mezcla de influencia cultural e hibridación.

Vamos a probar aquí esta misma idea.</string>
    <key>BRIEF_LEVEL_7</key>
	<string>Día de campaña 20

Hemos encontrado otra especie extinta. Hay evidencia de conflicto con los Lovan así que para esta misión tus bots van a poder luchar.</string>
	<key>CONTEXT_LEVEL_7</key>
	<string>Y pensaba que eran buenos chicos...hemos descubierto muchos esqueletos con claras señales de violencia.

La violencia no es rara entre especies compitiendo por los mismos recursos. Este conflicto se hace más terrorífico a medida que la organización social y la tecnología aumentan en complejidad. Los humanos tenemos experiencia en esto; casi nos matamos a nosotros mismos durante el siglo XX. Me pregunto si pudiera ser esto lo que causó la extinción Lovan.

En todo caso se cargaron a esta otra especie mientras invadían su territorio, así que nuestros bots van a tener que emular la situación.</string>

    <key>BRIEF_LEVEL_8</key>
	<string>Día de campaña 23

El clima cambió drásticamente durante la dispersión Lovan. En esta zona tuvieron que cruzar un gran desierto mientras los recursos disponibles se redujeron rápidamente.</string>
	<key>CONTEXT_LEVEL_8</key>
	<string>La caza y la recolección son un estilo de vida bastante decente. Vale, dependes de lo que te da la naturaleza, pero tu dieta es menos aburrida que si fueras un granjero. Y además, trabajas menos horas!

Por otro lado, tienes que moverte si los recursos escasean.

En esta misión una larga sequía convirtió una selva exuberante en un desierto. Los Lovan lo cruzaron mientras otro grupo luchaba por sobrevivir así que vamos a ver cómo fue la competición.</string>

    <key>BRIEF_LEVEL_9</key>
	<string>Día de campaña 25

Parece que este planeta estaba abarrotado. En esta misión tus bots van a encontrarse a la vez con dos especies.</string>
	<key>CONTEXT_LEVEL_9</key>
	<string>Cooperación y competición son procesos que se dan frecuentemente de manera simultánea.

Creo que en este escenario los Lovan se aliaron con uno de los grupos para atacar al otro. Te recomiendo que intentes influenciar al más cercano para que, una vez tu grupo sea suficientemente grande, lidies con el resto de objetivos.</string>

    <key>BRIEF_LEVEL_10</key>
	<string>Día de campaña 30

Esta misión completa la dispersión Lovan. Ciertamente demostraron su capacidad adaptativa poblando el planeta de polo a polo.

Sin embargo, la evidencia en esta última zona es bastante escasa y no sabemos qué paso.</string>
	<key>CONTEXT_LEVEL_10</key>
	<string>Tengo malas noticias...no tenemos ni idea de por qué los Lovan tuvieron éxito colonizando esta región.

Vamos a explorar la última dispersión con distintas estrategias. Puedes probar con bots más agresivos, tecnológicamente avanzados o capaces de influenciar a los otros grupos.

La incertidumbre me está matando, pero así es la Ciencia! Aceptamos una explicación hasta que otra se ajusta mejor a la evidencia. Parece fácil no?</string>
    
    <key>BRIEF_LEVEL_11</key>
    <string>Día de campaña 41
        
Los Lovan florecieron en todo Kepler-1138. El incremento de población promovió el desarrollo de nuevas tecnologías y la explotación de los vastos recursos del planeta.</string>
    <key>CONTEXT_LEVEL_11</key>
    <string>Los Lovan explotaron todos los recursos disponibles en su medio ambiente para mejorar sus opciones de supervivencia. Esto incluye obsidiana y minerales útiles para crear herramientas, así como madera destinada a combustible y material hacer mejores viviendas.

En esta misión hemos desplegado los dos recursos para entender cómo los Lovan explotaron el planeta, de un modo similar a los humanos en la Tierra.</string>

    <key>BRIEF_LEVEL_12</key>
    <string>Día de campaña 44
    
Los recursos naturales de un ecosistema se comparten entre todos los individuos que viven en él.

Esto crea tensiones cuando distintos grupos quieren tener acceso al mismo recurso finito.</string>
    <key>CONTEXT_LEVEL_12</key>
    <string>Comida, madera, minerales...nada es infinito así que las cantidades disponibles definen cuánta población puede vivir en un sitio particular. Este límite genera dinámicas de competición entre individuos, como las que hemos observado en esta área.

Tus bots necesitarán ganar el control de un bosque, en manos de otro grupo. Tienes muchas opciones disponibles para tener éxito: mejorar Influencia, Violencia o quizás Movilidad?</string>

    <key>BRIEF_LEVEL_13</key>
    <string>Día de campaña 50

La competición no es la única consecuencia de la explotación de recursos. Hemos encontrado evidencia de comercio entre los Lovan y otros grupos.

Intercambiaron minerales y madera; esta redistribución probablemente benefició a ambas poblaciones.</string>
    <key>CONTEXT_LEVEL_13</key>
    <string>Esto es fascinante, parece que nuestros chicos consiguieron minerales en esta región mediante el trueque por madera. Los humanos han comerciado por cualquier cosa desde sus inicios, y los Lovan no fueron distintos al respecto.

Tus bots necesitan aprender las complejidades del comercio antes de superar esta misión.</string>
        
    <key>BRIEF_LEVEL_14</key>
    <string>Día de campaña 53
    
El comercio es una de las actividades que más potencia el contacto entre poblaciones. Los Lovan se aliaron con otro grupo para controlar los recursos minerales de una de las áreas más ricas del planeta.</string>
    <key>CONTEXT_LEVEL_14</key>
    <string>El intercambio de bienes no sólo tiene que ver con cosas. El comercio necesita comunicación entre individuos. No sólo se comparten bienes: también se comparten ideas.

Parece que los Lovan y otro grupo unieron sus fuerzas para controlar la obsidiana presente en una cadena montañosa. Esto propició su control sobre la región entera.</string>

    <key>BRIEF_LEVEL_15</key>
    <string>Día de campaña 60
    
La conquista Lovan del planeta tiene varias causas: desde sus capacidades de explotación al desarrollo tecnológico y su poderosa influencia cultural.

En este caso fueron capaces de controlar los recursos de una gran región a una velocidad impresionante.</string>
    <key>CONTEXT_LEVEL_15</key>
    <string>Estamos ahora seguros que el éxito de los Lovan se basó en parte en sus habilidades negociadoras. Su cultura dejó una fuerte impresión en los otros grupos, y diversas evidencias sugieren que también eran excelentes comerciantes.

Queremos ajustarnos a las fechas de dispersión en esta zona. Para ello necesitamos que tus bots adquieran múltiples recursos con una combinación de capacidades sociales y técnicas.</string>

    <key>BRIEF_LEVEL_16</key>
    <string>Día de campaña 70

Los Lovan aprendieron gradualmente a transformar su medio ambiente.

Esto incrementó su población más allá de lo que un sistema de caza y recolección puede sostener.</string>
    <key>CONTEXT_LEVEL_16</key>
    <string>La domesticación de plantas y animales cambió radicalmente la cultura humana en nuestro planeta natal. Agricultura y ganadería nos permitieron generar mucha más comida y, por lo tanto, aumentar el tamaño de la población.

Este complejo proceso se llama Neolítico, y parece que hemos encontrado aquí una situación similar.</string>

    <key>BRIEF_LEVEL_17</key>
    <string>Día de campaña 74

Un incremento de población a menudo comporta un uso más intensivo del entorno.
    
En esta región los Lovan combinaron Terraformación con Explotación a gran escala de un bosque. Pese a ello, consiguieron evitar sobreexplotar las riquezas de esta región.</string>

    <key>CONTEXT_LEVEL_17</key>
    <string>Las primeras comunidades agricultoras no vivían solo de sus rebaños y plantaciones. El medio ambiente proporcionaba mucha comida, así que por qué los deberías descartar?

Pero esto tiene un coste: la agricultura implica más gente. Esto puede generar la sobreexplotación del entorno y generar una situación donde todo el mundo pierde.

Los Lovan consiguieron evitar este problema, más o menos como los humanos hicimos con la crisis mundial que hubo a mediados del siglo XXI.</string>

    <key>BRIEF_LEVEL_18</key>
    <string>Día de campaña 79

Parece que hemos hallado el punto de inflexión de la existencia de los Lovan.

Una serie de sequías bajaron la disponibilidad de recursos hasta el punto que los distintos grupos empezaron a competir entre ellos.</string>
    <key>CONTEXT_LEVEL_18</key>
    <string>Nuestro análisis sugiere que las condiciones ambientales se deterioraron rápidamente, desencadenando conflictos a gran escala.

Nuestra misión aquí es entender la relación entre cambio climático y conflicto, a medida que los recursos se hacían escasos. Puedes intentar distintas opciones, pero ten en cuenta que la sobreexplotación puede conducir a un aumento de las confrontaciones con otros grupos.</string>

    <key>BRIEF_LEVEL_19</key>
    <string>Día de campaña 87
    
La población menguante intentó sobrevivir en un medio ambiente muy deteriorado.

Estos son los últimos latidos de los Lovan: desaparecieron junto con el resto de grupos a medida que la población colapsaba en una serie de interminables conflictos bélicos.</string>
    <key>CONTEXT_LEVEL_19</key>
    <string>Aquí nos encontramos, después de tantos desafíos: el final de esta historia fascinante. La falta de tierras cultivables generó muchas guerras. Las pocas posibilidades que tenía la población restante se malograron cuando los grupos se atacaron los unos a los otros.

Pese a todo, los Lovan sobrevivieron algunas décadas más. Estudiaremos el último conflicto en el que se vieron involucrados. Necesitarás incrementar tu población mediante Terraformación antes de que otro grupo invada la zona. Ten en cuenta que esta situación desesperada generó grupos extremadamente agresivos, así que la Influencia cultural no es posible en esta misión.</string>

    <key>BRIEF_LEVEL_20</key>
    <string>Día de campaña 90
    
Buen trabajo, el experimento ha finalizado!
    
Sin embargo, ha pasado algo inesperado. Los bots deberían haber desaparecido después de la última misión, pero aún están ahí. Deberías desactivar la población antes de que dejemos Kepler.</string>
    <key>CONTEXT_LEVEL_20</key>
    <string>No sé cómo explicar esto: los bots ignoraron nuestras últimas órdenes y ahora mismo están buscando algún territorio dónde poder sobrevivir.

Ya tenemos nuestros resultados finales, y técnicamente deberíamos destruir los bots que quedan antes de abandonar el planeta. No sé cómo lo ves, pero más que finalizar un experimento me da más la sensación de estar cometiendo un genocidio.

Cómo procedemos? O acabamos la Historia otra vez, o les damos a los Lovan una nueva oportunidad. Profesor, es tu decisión.</string>

	<key>LEVEL_1_STORY</key>
	<string>Quiénes somos? Quién nos creó?</string>
    <key>LEVEL_2_STORY</key>
	<string>Encontraremos nuestro destino en la montaña de fuego</string>
    <key>LEVEL_3_STORY</key>
	<string>Somos los señores del fuego. Somos los Zho'll</string>
    <key>LEVEL_4_STORY</key>
	<string>Los Guías nos dieron fuego y piedra para dominar este mundo</string>
    <key>LEVEL_5_STORY</key>
	<string>No temeremos a nadie ni a nada</string>
    <key>LEVEL_6_STORY</key>
	<string>Necesitamos a los Guías? Los Zho'll controlan esta tierra!</string>
    <key>LEVEL_7_STORY</key>
	<string>Pero no estamos solos...</string>
    <key>LEVEL_8_STORY</key>
	<string>Los Guías nos vigilan y se preocupan por nosotros</string>
    <key>LEVEL_9_STORY</key>
	<string>Los Zho'll triunfarán donde otros fallaron</string>
    <key>LEVEL_10_STORY</key>
	<string>Este es nuestro mundo. Viviremos donde nos plazca</string>
    <key>LEVEL_11_STORY</key>
	<string>El símbolo de los Guías apunta hacia su morada</string>
    <key>LEVEL_12_STORY</key>
	<string>El planeta entero sabrá que los Guías nos protegen</string>
    <key>LEVEL_13_STORY</key>
	<string>Podemos comerciar minerales por todo lo que deseamos</string>
    <key>LEVEL_14_STORY</key>
	<string>Que nuestras almas se reúnan con los Guías</string>
    <key>LEVEL_15_STORY</key>
	<string>El mundo entero es nuestro hogar</string>
    <key>LEVEL_16_STORY</key>
	<string>Daremos una vida mejor a nuestra descendencia</string>
    <key>LEVEL_17_STORY</key>
	<string>Los Zho'll son los amos de este mundo, de sus plantas y animales</string>
    <key>LEVEL_18_STORY</key>
	<string>Nuestros campos yacen muertos. Por qué se nos castiga?</string>
    <key>LEVEL_19_STORY</key>
	<string>No queremos ser olvidados. Este es nuestro mundo!</string>
    <key>LEVEL_20_STORY</key>
	<string>Somos los Zho'll. Somos los amos de nuestro destino</string>
    <key>LEVEL_21_STORY</key>
	<string>Misión completada. Volvamos a casa!</string>

    <!-- dates -->
    <key>DATE_LEVEL_1</key>
    <string>1 millón de años AE (Antes de la Extinción)</string>
    <key>DATE_LEVEL_2</key>
    <string>300.000 AE</string>
    <key>DATE_LEVEL_3</key>
    <string>70.000 AE</string>
    <key>DATE_LEVEL_4</key>
    <string>70.000 AE</string>
    <key>DATE_LEVEL_5</key>
    <string>30.000 AE</string>
    <key>DATE_LEVEL_6</key>
    <string>25.000 AE</string>
    <key>DATE_LEVEL_7</key>
    <string>22.000 AE</string>
    <key>DATE_LEVEL_8</key>
    <string>15.000 AE</string>
    <key>DATE_LEVEL_9</key>
    <string>10.000 AE</string>
    <key>DATE_LEVEL_10</key>
    <string>8.000 AE</string>
    <key>DATE_LEVEL_11</key>
    <string>6.000 AE</string>
    <key>DATE_LEVEL_12</key>
    <string>5000 AE</string>
    <key>DATE_LEVEL_13</key>
    <string>3600 AE</string>
    <key>DATE_LEVEL_14</key>
    <string>2500 AE</string>
    <key>DATE_LEVEL_15</key>
    <string>1700 AE</string>
    <key>DATE_LEVEL_16</key>
    <string>1000 AE</string>
    <key>DATE_LEVEL_17</key>
    <string>500 AE</string>
    <key>DATE_LEVEL_18</key>
    <string>200 AE</string>
    <key>DATE_LEVEL_19</key>
    <string>45 AE</string>
    <key>DATE_LEVEL_20</key>
    <string>0 AE</string>
</dict>
</plist>

