<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

	<key>NEXT_MESSAGE_BUTTON</key>
	<string>Pressiona el botó destacat</string>
	<key>NEXT_MESSAGE_SPOT</key>
	<string>Toca dos cops per col·locar el marcador</string>
	<key>NEXT_MESSAGE_TAP</key>
	<string>Toca per a continuar</string>

	<key>LEVEL1M1</key>
	<string>Professor, benvingut a la Consola.
La interfície és xula oi? Espero que t'agradi perquè la teva vida durant les properes setmanes consistirà en fer-la servir mentre consumeixes cafè.</string>
	<key>LEVEL1M2</key>
	<string>La Consola mostra les dades recollides per satèl·lits desplegats al voltant del planeta.</string>
	<key>LEVEL1M3</key>
	<string>La missió té lloc en aquest paisatge.
Està ple d'accidents, des de regions àrides com la destacada a selves riques en recursos.</string>
    <key>LEVEL1M4</key>
	<string>Pots pressionar la icona d'objectiu en qualsevol moment per a mostrar un resum de l'entorn.</string>
	<key>LEVEL1M5</key>
	<string>Aquests són els teus bots.
El cercle mostra la zona a on hem desplegat una petita població inicial.</string>
	<key>LEVEL1M6</key>
	<string>Aquesta primera missió té un objectiu de dispersió.
Hauries de dur els teus bots fins a l'hexàgon parpellejant situat a baix a la dreta.</string>
	<key>LEVEL1M7</key>
	<string>Pressiona el botó de Play per veure el que estan fent els teus bots.</string>
	<key>LEVEL1M8</key>
	<string>Els bots es mouen, reprodueixen i moren de manera independent, però disposes d'algunes eines per tal de guiar-los.</string>
	<key>LEVEL1M9</key>
	<string>La primera és el marcador d'orientació.
Toca dos cops qualsevol zona del mapa per tal de suggerir la direcció de dispersió.</string>
	<key>LEVEL1M10</key>
	<string>La segona és el control d'evolució.
Comences amb 10 EvoPoints, i aniràs rebent punts addicionals durant la missió.</string>
	<key>LEVEL1M11</key>
	<string>Els EvoPoints es poden fer servir per a incrementar 3 dels atributs dels teus bots.
Prem el botó per tal de gastar 1 EvoPoint i millorar la Mobilitat al nivell 2.</string>
	<key>LEVEL1M12</key>
	<string>La Reproducció controla la fertilitat dels bots.
Puja-la a nivell 2</string>
	<key>LEVEL1M13</key>
	<string>Cada canvi en un atribut costa 1 EvoPoint addicional, com s'indica en groc.
Puja'l a 3.</string>
	<key>LEVEL1M14</key>
	<string>Prem de nou per fixar la Reproducció a 4.</string>
	<key>LEVEL1M15</key>
	<string>Si incrementes Resistència millores la supervivència dels teus bots.
Gasta la resta en aquest atribut.</string>
	<key>LEVEL1M16</key>
	<string>Fes servir els 2 EvoPoints que manquen per tal d'incrementar de nou la Resistència.</string>
	<key>LEVEL1M17</key>
	<string>Desplegament finalitzat! Anem a veure si els teus bots sobreviuen amb aquests atributs.</string>
	<key>LEVEL1M18</key>
	<string>Aquest panell mostra com va augmentant la teva població.
Necessites examinar-lo sovint per detectar col·lapses.</string>
	<key>LEVEL1M19</key>
    <string>Situa ara el marcador d'orientació a la zona de l'objectiu.</string>
	<key>LEVEL1M20</key>
	<string>Com pots veure has rebut EvoPoints addicionals. Bona Sort</string>

    <key>LEVEL2M1</key>
	<string>Algunes missions tenen més d'un objectiu, com es mostra a la part superior de la Consola.</string>
	<key>LEVEL2M2</key>
	<string>La zona brillant mostra l'interval de temps en què la teva població ha d'assolir l'objectiu, segons l'evidència arqueològica.
Si arribes abans o després la missió fracassarà.</string>
	<key>LEVEL2M3</key>
	<string>El millor temps d'arribada està destacat aquí.</string>
	<key>LEVEL2M4</key>
	<string>Si creus que el joc va massa lent pots incrementar la velocitat des del menú d'Opcions. Bona sort!</string>

    <key>LEVEL3M1</key>
	<string>Benvingut, Professor.
En aquesta missió farem servir una eina nova.</string>
	<key>LEVEL3M2</key>
	<string>La definició tècnica és Augmentació Temporal d'Atributs de Població Basat en Elements Culturals.</string>
	<key>LEVEL3M3</key>
	<string>Els de l'equip els anomenem Augments.</string>
	<key>LEVEL3M4</key>
	<string>Pots activar un Augment gastant EvoPoints per tal d'incrementar temporalment un atribut.</string>
	<key>LEVEL3M5</key>
	<string>El primer potencia la Reproducció. Activa'l ara.</string>
	<key>LEVEL3M6</key>
	<string>El segon Augment puja la Resistència, i té una àrea d'efecte.
Necessites pressionar-lo i arrastrar l'àrea fins la zona en la que vulguis millorar els bots</string>
	<key>LEVEL3M7</key>
	<string>Els Augments tenen un període de recàrrega, així que fes-los servir amb moderació. Bona sort!</string>

    <key>LEVEL6M1</key>
    <string>El primer objectiu d'aquesta missió comprova la mida del teu grup.</string>
    <key>LEVEL6M2</key>
    <string>Necessites arribar a la mida destacada en aquest panell dins el temps assignat.</string>

    <key>LEVEL11M1</key>
    <string>Necessitaràs reunir diversos recursos per tal de tenir èxit en aquesta missió.</string>
    <key>LEVEL11M2</key>
    <string>Aquesta muntanya conté nombrosos minerals útils per al teu grup.</string>
    <key>LEVEL11M3</key>
    <string>Aquest bosc pot proporcionar molta fusta.</string>
    <key>LEVEL11M4</key>
    <string>Reculls recursos movent-te a aquestes zones, tot millorant l'atribut d'Explotació.</string>
    <key>LEVEL11M5</key>
    <string>Toca aquest panell per tal de navegar entre els diferents recursos recollits i nivells requerits.</string> 
    <key>LEVEL11M6</key>
    <string>L'explotació esgota els dos recursos, però si tens cura els boscos es regeneraran amb el temps.</string> 

    <key>LEVEL13M1</key>
    <string>En aquesta missió disposes d'un nou atribut: Comerç.</string>
    <key>LEVEL13M2</key>
    <string>Si desenvolupes aquesta habilitat els teus bots podran intercanviar un recurs per béns recollits per altres grups.</string>
    <key>LEVEL13M3</key>
    <string>No pots recollir suficients minerals a temps, així que necessitaràs aquesta habilitat per tal de tenir èxit.</string>

    <key>LEVEL16M1</key>
    <string>Hem integrat totes les tècniques de domesticació sota el concepte de Terraformació.</string>
    <key>LEVEL16M2</key>
    <string>La zona destacada és suficientment rica per tal de ser transformada en terres cultivables mitjançant aquest atribut.</string>
    <key>LEVEL16M3</key>
    <string>La teva població prosperarà en una zona terraformada, però abans cal que arribis a ella.</string>

    </dict>
</plist>
