<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NEXT_MESSAGE_BUTTON</key>
	<string>Presiona el botón destacado</string>
	<key>NEXT_MESSAGE_SPOT</key>
	<string>Toca dos veces para colocar el marcador</string>
	<key>NEXT_MESSAGE_TAP</key>
	<string>Toca para continuar</string>

	<key>LEVEL1M1</key>
	<string>Profesor, bienvenido a la Consola.
La interfaz es molona no? Espero que te guste porque tu vida en las próximas semanas va a consistir en usarla mientras consumes café.</string>
	<key>LEVEL1M2</key>
	<string>La Consola muestra los datos recogidos por satélites desplegados alrededor del planeta.</string>
	<key>LEVEL1M3</key>
	<string>La misión tiene lugar en este paisaje.
Está lleno de accidentes, desde la región árida destacada a selvas ricas en recursos.</string>
    <key>LEVEL1M4</key>
	<string>Puedes apretar el icono de objetivo en cualquier momento para mostrar un resumen del entorno.</string>
	<key>LEVEL1M5</key>
	<string>Estos son tus bots.
Hemos desplegado una pequeña población inicial en esta zona.</string>
	<key>LEVEL1M6</key>
	<string>Esta primera misión tiene un objetivo de dispersión.
Deberías conducir a tus bots hacia el hexágono parpadeante situado abajo a la derecha.</string>
	<key>LEVEL1M7</key>
	<string>Aprieta el botón de Play para ver lo que están haciendo tus bots.</string>
	<key>LEVEL1M8</key>
	<string>Los bots se mueven, reproducen y mueren de manera independiente, pero dispones de algunas herramientas para guiarlos.</string>
	<key>LEVEL1M9</key>
	<string>La primera es el marcador de orientación.
Aprieta dos veces en cualquier parte del mapa para sugerir la dirección de dispersión.</string>
	<key>LEVEL1M10</key>
	<string>La segunda es el control de evolución.
Empiezas con 10 EvoPoints, e irás recibiendo puntos adicionales durante la misión.</string>
	<key>LEVEL1M11</key>
	<string>Los EvoPoints se pueden usar para incrementar 3 de los atributos de tus bots.
Aprieta aquí para gastar 1 EvoPoint y mejorar la Movilidad al nivel 2.</string>
	<key>LEVEL1M12</key>
	<string>La Reproducción controla la fertilidad de los bots. 
Súbela al nivel 2</string>
	<key>LEVEL1M13</key>
	<string>Cada cambio en un atributo cuesta 1 EvoPoint más, como se indica en amarillo.
Súbelo al 3.</string>
	<key>LEVEL1M14</key>
	<string>Aprieta otra vez para fijar Reproducción a 4.</string>
	<key>LEVEL1M15</key>
	<string>Incrementando Resistencia mejoras la supervivencia de tus bots.
Gasta el resto en este atributo.</string>
	<key>LEVEL1M16</key>
	<string>Usa los restantes 2 EvoPoints en incrementar Resistencia de nuevo.</string>
	<key>LEVEL1M17</key>
	<string>Despliegue acabado! Vamos a ver si tus bots sobreviven con estos atributos.</string>
	<key>LEVEL1M18</key>
	<string>Este panel muestra cómo tu población va aumentando.
Necesitarás comprobarlo frecuentemente para evitar colapsos.</string>
	<key>LEVEL1M19</key>
    <string>Coloca ahora el marcador de orientación en la zona del objetivo.</string>
	<key>LEVEL1M20</key>
	<string>Como puedes ver has recibido EvoPoints adicionales. Buena suerte!</string>

    <key>LEVEL2M1</key>
	<string>Algunas misiones tienes más de un objetivo, como se muestra en la zona superior de la Consola.</string>
	<key>LEVEL2M2</key>
	<string>La zona brillante muestra el intervalo de tiempo en el que tu población debe llegar al objetivo, según la evidencia arqueológica.
Si llegas antes o después de este intervalo la misión fracasará.</string>
	<key>LEVEL2M3</key>
	<string>El mejor tiempo de llegada está destacado así.</string>
	<key>LEVEL2M4</key>
	<string>Si notas el juego demasiado lento puedes subir la velocidad en el menú de Opciones. Buena suerte!</string>

    <key>LEVEL3M1</key>
	<string>Bienvenido, Profesor.
En esta misión usaremos una herramienta nueva.</string>
	<key>LEVEL3M2</key>
	<string>El término técnico es Aumentación Temporal de Atributos de Población Basado en Elementos Culturales.</string>
	<key>LEVEL3M3</key>
	<string>El equipo los ha llamado Aumentos.</string>
	<key>LEVEL3M4</key>
	<string>Puedes activar un Aumento gastando EvoPoints para incrementar temporalmente un atributo.</string>
	<key>LEVEL3M5</key>
	<string>El primero potencia la Reproducción. Actívalo ahora.</string>
	<key>LEVEL3M6</key>
	<string>El segundo Aumento sube la Resistencia, y tiene un área de efecto.
Necesitas presionarlo y arrastrar el área hacia la zona en la que quieras mejorar a tus bots.</string>
	<key>LEVEL3M7</key>
	<string>Los Aumentos tiene un período de recarga, así que úsalos con moderación. Buena suerte!</string>

    <key>LEVEL6M1</key>
    <string>El primer objetivo de esta misión comprueba el tamaño de tu grupo.</string>
    <key>LEVEL6M2</key>
    <string>Necesitas llegar al tamaño destacado en este panel dentro del tiempo asignado.</string>

    <key>LEVEL11M1</key>
    <string>Necesitarás reunir distintos recursos para tener éxito en esta misión.</string>
    <key>LEVEL11M2</key>
    <string>Esta montaña está llena de minerales útiles para tu grupo.</string>
    <key>LEVEL11M3</key>
    <string>Este bosque puede proporcionar mucha madera.</string>
    <key>LEVEL11M4</key>
    <string>Recoges recursos moviéndote a estas zonas e incrementando el atributo de Explotación.</string>
    <key>LEVEL11M5</key>
    <string>Toca este panel para navegar a través de los distintos recursos recogidos y niveles requeridos.</string> 
    <key>LEVEL11M6</key>
    <string>Ambos recursos se agotan cuando los explotas, pero si tienes cuidado los bosques se pueden regenerar con el tiempo.</string> 
    
    <key>LEVEL13M1</key>
    <string>En esta misión dispones de un nuevo atributo: Comercio.</string>
    <key>LEVEL13M2</key>
    <string>Si desarrollas esta habilidad tus bots podrán intercambiar un recurso por bienes recogidos por otros grupos.</string>
    <key>LEVEL13M3</key>
    <string>No podrás recoger suficientes minerales a tiempo, así que necesitarás de esta habilidad para tener éxito.</string>

    <key>LEVEL16M1</key>
    <string>Hemos integrado todas las técnicas de domesticación bajo el concepto de Terraformación.</string>
    <key>LEVEL16M2</key>
    <string>La zona destacada es suficientemente rica para ser transformada en tierras cultivables usando este atributo.</string>
    <key>LEVEL16M3</key>
    <string>Tu población prosperará en una zona terraformada, pero necesitas llegar a ella antes que esto suceda.</string>
</dict>
</plist>

