
@font-face {
    font-family: "bebas";
    src: url('BebasNeue.otf') format("truetype");
}

body
{
	background-color: #ebf4f4;
	margin: 0px;
	padding: 0px;
}
.backgroundImage {
    max-width: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("background2.png");  
    background-size: cover; 
}

#shot{ 
    width: 100%;
    margin-bottom: 30px;            
}

.award_text_container
{
	flex: 1;
}

.award_text
{
	color: black;
	font-size: 14pt;
	text-align: center;
	align-items: center;
	line-height: 120%;
}

.award_text_big
{
	font-size: 18pt;
	line-height: 120%;
}

.award_text_small
{
	font-size: 10pt;
	line-height: 110%;
}

.awardwreathleft
{
	float: left;
}

.awardwreathright
{
	float: right;
}

.row_of_awards
{
	
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	flex-flow: row;
	
	justify-content: center;
	
}

.single_award
{
	justify-content: center;
	margin: 10px;
	
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box;
	display: flex;
	flex-flow: row;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	-o-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	
	align-items: center;
	
	height: 80px;
	width: 280px;
	
	margin-left: 10px;
	margin-right: 10px;
}

.vertically_aligned_container
{
	width: 100%;
}

.langText
{
    font-family: Arial, "times new roman", times, roman, serif;
	font-size: 20pt;
	line-height: 150%;
    color: #cccccc;
	text-transform: none;
    max-width: 90%;
    text-align: right;
    margin: 0 auto;
    margin-bottom: 50px;    
    text-shadow: 1px 1px #222222;
}

.langTextSelected
{
    font-family: Arial, "times new roman", times, roman, serif;
	font-size: 22pt;
	line-height: 150%;
    color: #ffffff;
	text-transform: none;
    max-width: 90%;
    text-align: right;
    margin: 0 auto;
    margin-bottom: 50px;    
    text-shadow: 1px 1px #222222;
}

.bodytext
{
    font-family: Arial, "times new roman", times, roman, serif;
	font-size: 20pt;
	line-height: 150%;
    color: #cccccc;
	text-transform: none;
    max-width: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 50px;    
    text-shadow: 1px 1px #222222;
}

.bodytextCenter
{
    font-family: Arial, "times new roman", times, roman, serif;
	font-size: 20pt;
	line-height: 150%;
    color: #cccccc;
	text-transform: none;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    text-shadow: 1px 1px #222222;
}

.bodytextLogos
{
    font-family: Arial, "times new roman", times, roman, serif;
	font-size: 12pt;
	line-height: 150%;
    color: #cccccc;
	text-transform: none;
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    text-shadow: 1px 1px #222222;
}
.bodytextLi
{
    font-family: Arial, "times new roman", times, roman, serif;
	font-size: 14pt;
	line-height: 150%;
    color: #cccccc;
	text-transform: none;
    max-width: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 50px;
    text-shadow: 1px 1px #222222;
}

.highlight
{
	//color: #a1cd37;
	font-weight: bold;
}

IMG
{
	border: 0px;
}

.slogan
{
    font-family: "bebas", Arial, roman, serif;
	font-size: 24pt;
	line-height: 100%;
    color: #cccccc;
	text-transform: none;
    max-width: 60%;
    text-align: right;
	text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 100px;
}

.horizontalBullet
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: top;
}

.center
{
 font-family: Georgia, sans-serif;
 color: lightgrey;
 text-align: center;
}

.pullquote
{
	color: black;
	font-size: 14pt;
	text-align: left;
	margin-top: 50px;
	margin-bottom: 10px;
}

.pullquoteSource
{
	color: #0e909c;
	font-size: 12pt;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 50px;
}

.screenshotThumbnail
{
	margin-left: 50px;
	margin-right: 50px;
}

.storebutton
{
	margin-left: 20px;
	margin-right: 20px;
	border: 0px;
}


A, A:visited
{
	text-decoration: none;
	color: #cccccc;
}

A:hover
{
	text-decoration: none;
	color: black;
}

A.socialLink, A.socialLink:visited
{
	text-decoration: none;
	color: #0e909c;
}

A.socialLink:hover
{
	text-decoration: none;
	color: black;
}

.bigLink
{
	text-decoration: underline;
	color: #ffffff;
}

A.bigLink:hover
{
	text-decoration: none;
	color: black;
}

A.bigLink:visited
{
	text-align: center;	
	text-decoration: none;
	color: #f15340;
}



A.blackLink, A.blackLink:visited, A.blackLink:hover
{
	text-decoration: none;
	color: black;
}


A.tumblrLink, A.tumblrLink:visited, A.tumblrLink:hover
{
	text-decoration: none;
	color: #e76400;
}


A.androidLink, A.androidLink:visited
{
	text-decoration: none;
	color: #a1cd37;
}

A.androidLink:hover
{
	text-decoration: underline;
	color: #a1cd37;
}
